/* Author  : Hyeonmi Jo */
/* Date    : 2017-06-16 */
/* Version : EAP 2.0    */

/* Green  	bg.00bb83 font.00a574 GridSelectTd.d0f0e7 GridSelectTr.f1fcf9 ComboActive.3ecba1 */
/* Sky 		bg.00a6b5 font.00abbb GridSelectTd.d0eff2 GridSelectTr.f0fafa ComboActive.5ecbd2 */
/* Blue 	bg.498ccd font.2e7cc8 GridSelectTd.d6e5f4 GridSelectTr.f1f7fb ComboActive.75a6d5 */
/* pink 	bg.e3547f font.e43c6e GridSelectTd.f8dee5 GridSelectTr.fdf3f7 ComboActive.e584a2 */
/* Orange 	bg.ea6c38 font.ed6431 GridSelectTd.f5e3dd GridSelectTr.fdf5f1 ComboActive.ec8682 */

@charset "utf-8";

/* Block : pageTitle
---------------------------------------------------------*/
.LblockPageHeader {
	height:47px;
	line-height: 44px;
	width:100%;
	/*min-width: 1060px;*/
	border-bottom: 2px solid #666;
	margin-bottom:15px;
}
.LblockPageHeader .LblockPageTitle {

}

.LblockPageTitle h1 {
	font-size: 17px;
	color:#474747;
	padding-top: 15px;
	line-height: 24px;
}
.LblockPageTitle h3 {
	font-size: 15px;
	color: #333;
}
.LblockPopupMain .LblockPageHeader {
	margin-right: 0px;
}
.LblockPageHeader .LblockPageTitle ul { width: 70%; overflow: hidden}
.LblockPageHeader .LblockPageTitle li { display: inline-block;}
.LblockPageHeader .LblockPageTitle li a {display: inline-block; font-weight: bold; font-size: 14px; color: #333; padding: 0 20px 0 0px ; line-height: 24px; height: 28px;}
.LblockPageHeader .LblockPageTitle li a:hover {color: #c00032;}
.LblockPageHeader .LblockPageTitle li.selected a { color: #00a574 !important; font-size: 17px;}
.LblockPageHeader .LblockPageTitle li a span { display: inline-block; text-align: center; border-radius: 30px; width: 16px; height: 16px; background:#888 url(../images/new/btn_close2.png) 0px 0px no-repeat; vertical-align: middle; }
.LblockPageHeader .LblockPageTitle li a:hover span, .LblockPageHeader .LblockPageTitle li.selected a span { background-color: #c00032; }
.LblockPageHeader .LblockPageTitle li a span:hover { background-color: #f02b6c !important}

/* Block : pageSubtitle
---------------------------------------------------------*/
.LblockPageSubtitle {
	position:relative;
	line-height: 24px;
	min-height: 25px;
	white-space:nowrap;
	padding: 4px 20px 5px 20px;
	border-top: 1px solid #cdcccc;
	clear:both;
}
.LblockPageSubtitle .LblockPageTitle {
	padding: 0;
}
.LblockPageSubtitle h1 {
	font-size: 16px;
	line-height:22px;
	color:#00a574;
	font-weight:bold;
}
.LblockPageSubtitle h2 {
	color:#000;
	font-size: 14px;
	font-weight:bold;
}
.LblockPageSubtitle h3 {
	color:#00a574;
	font-size: 13px;
	font-weight:bold;
}
.LblockPageSubtitle p {
	display:inline-block;
	color:#333;
}
.LblockPageSubtitle .LblockRight {
	position:absolute;
	right:20px;
	top: 3px;
}
.LblockPageSubtitle .LblockRight .L-button {
}
.LblockPageSubtitle p img { margin-top:-3px;}


.LblockPageSubtitle .L-required:before {
	content:"*";
	color: #ef0c56;
	padding-right:2px;
}
.LblockPageHeader + .LblockPageSubtitle {
	padding-top: 5px;
}
.LblockPageSubtitle + .LblockPageSubtitle {
	margin-bottom: -1px;
}

/* Block : pageLocation
---------------------------------------------------------*/
.LblockPageLocation {
	text-align:right;
}
.LblockPageLocation li {
	display:inline;
	font-size: 11px;
	margin-right:7px;
	color: #777;
}
.LblockPageLocation li span {
	color:#6b7685;
	padding-left:12px;
}
.LblockPageLocation li.Lfirst span {
}
.LblockPageLocation li span a {
	color:#777;
	text-decoration:none;
}
.LblockPageLocation li span a:hover,
.LblockPageLocation li span:last-child,
.LblockPageLocation li span a:last-child {
	color:#d43368;
}

/* Block : search
---------------------------------------------------------*/
.LblockSearch {
	position:relative;
	background-color:#fff;
	padding:12px 18px 12px 15px;
	min-height:31px;
	border-top: 1px solid #cdcccc;

}
.LblockSearch * {
	vertical-align:middle;
}
.LblockSearch > div {
	position:relative;
	display:inline-block;
	width: 100%
}
.LblockSearch div div form {
	padding:0;
	vertical-align:middle;
}
.LblockSearch table {
	width:100%
}
.LblockSearch table th {
	border: 0;
	vertical-align: middle;
	text-align:right;
	white-space:nowrap;
	font-weight:normal;
	padding-right:5px;
}
.LblockSearch table th label {
	border: 0;
	vertical-align: middle;
	padding: 0 5px 0 20px;
	display: inline-block;
	height: 26px;
	line-height: 24px;
}
.LblockSearch table th:first-child label {
	padding-left: 14px;
}
.LblockSearch table td {
	vertical-align:middle;
	padding:2px 0;
}
.LblockSearch table td.label {
	text-align:right;
}
.LblockSearch table td.input {
}
.LblockSearch .LblockSearchBtn {
	/*
	position:absolute;
	right:10px;
	bottom:10px;
	*/
	position:relative;
	float:right;
	min-width: 80px;
	height: 26px;
	padding-top: 2px;
	text-align:right;
}
.LblockSearch .LblockSearchBtn button,
.LblockSearch .LblockSearchBtn a {
	background-color:#00bb83;
	border: none;
    padding:0px 17px 3px 33px;
    line-height: 22px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 24px;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0px 2px 3px #ddd;
}

.LblockSearch input.Ltext {
}
.LblockSearch img {
}
a.Lsearch {
	position:relative;
	float:right;
	margin-left:10px;
	background-color:#00bb83;
	border: none;
    padding: 0px 12px 2px;
    line-height: 22px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 24px;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0px 2px 3px #ccc;
}


/* Block : listTable
---------------------------------------------------------*/
.LblockListTable  {
	position:relative;
	border-top: 1px solid #cdcccc;
	width:100%;
	margin-bottom: -1px;
}
.LblockListTable table {
	border-collapse:collapse;
	width:100%;
}
.LblockListTable table th,
.LblockListTable table td {
	height:28px;
	padding:0px 6px;
	border-bottom: 1px solid #cdcccc;
	text-align:center;
	background-color: #fff;
}
.LblockListTable table th {
	white-space:nowrap;
	background-color:#f7f7f7;
}
.LblockListTable table tbody {
	border-top: #cdcccc solid 0px;
}
.LblockListTable table textarea {
	margin: 2px 0;
}
.LblockListTable table tbody th {
	background-color:#f7f7f7;
}
.LblockListTable table tbody tr.Lhover {
	background: #efefef;
}
.LblockListTable ul {
	text-align:center;
	font-size:0.9em;
	margin-top:10px;
}
.LblockListTable li {
	display:inline;
	margin-left:5px;
}
.LblockListTable li span {
	font-weight:bold;
	color:#5EA5D5;
}
.LblockListTable li a {
	font-weight:normal;
	color:#666;
}
.LblockListTable li a:hover,
.LblockListTable li a:active {
	color:#5EA5D5;
}
.LblockListTable li.Lbegin a,
.LblockListTable li.Lend a {
	font-weight:bold;
}
.LblockListTable a.Lbtn3 { }
a.Lbtn3 { position:relative; display:inline-block; margin:0 1px; padding:0 8px; height:26px; line-height:24px;  text-decoration:none !important;  white-space:nowrap; vertical-align:middle; cursor:pointer;
color:#fff; background-color: #ccc; border:0px solid #ccc; border-radius: 3px;}


/* Block : detail
---------------------------------------------------------*/
.LblockDetail {
	border-top: 1px solid #cdcccc;
	border-bottom: 1px solid #cdcccc;
	margin-bottom: -1px;
}
.LblockDetail table {
	width:100%;
	border-collapse:collapse;
	margin-bottom: -1px;
}
.LblockDetail tr:first-child th,
.LblockDetail tr:first-child td {
}
.LblockDetail th,
.LblockDetail td {
	border-bottom: 1px solid #eee;
	background-color: #fff;
	height:28px;
	padding:0 3px;
	color: #444;
	font-size: 13px;
}

.LblockDetail th {
	background-color: #f7f7f7;
	border-bottom: 1px solid #e7e7e7;
	text-align:right;
	padding:0 8px;
}
.LblockDetail td img {width:80%;padding:5px;}
.LblockDetail .cnt {
	text-align:center !important;
}
.LblockDetail td .Certificate dl {float:left; width: 100%;}
.LblockDetail td .Certificate dt {float:left; width:30%;}
.LblockDetail td .Certificate dd {float:left; width:70%;}
.LblockDetail th .L-required:before {
	content:"*";
	color: #ff0066;
	padding-right:2px;
}

.LblockDetail table textarea {
	margin:2px 0;
}

.LblockDetail tr:last-child th, .LblockDetail tr:last-child td {
	border-bottom: 1px solid #cdcccc;
}
/* Block : detail Inner Table */
.LblockDetailInner {
	padding:0 !important;
}
.LblockDetailInner .inTable {
	width:100%;
	border-collapse:collapse;
	border-top:none;
	margin-top:-1px;
	margin-bottom:-1px;
}
.LblockDetailInner .inTable th.Lfirst,
.LblockDetailInner .inTable td.Lfirst {
	border-left:none;
}
.LblockDetailInner .inTable th.Llast,
.LblockDetailInner .inTable td.Llast {
	border-right:none;
}

/* Block : button
---------------------------------------------------------*/
.LblockButton {
	position:relative;
	padding:5px 20px;
	text-align:right;
	clear: both;
	border-top: 1px solid #cdcccc;
	border-bottom: 1px solid #cdcccc;
	background-color: ;
	margin: -1px 0;
}
* html #LblockButton {
	height:1px;
}
.LblockButton span.Lleft {
	position:absolute;
	left:0;
}
a.Lbtn { position:relative; display:inline-block; margin-left: 2px; padding:0 8px 3px; line-height:22px; text-decoration:none !important;  white-space:nowrap; vertical-align:middle; cursor:pointer;
color:#333; background-color: #fff; border:1px solid #d7d7d7; border-radius: 26px;}

/* subbutton */
.LblockSubbutton {
	margin:5px 0 10px 0;
	text-align:right;
}
a.Lbtn2 { position:relative; display:inline-block;  margin-left: 2px; padding:0 8px 3px; line-height:22px; text-decoration:none !important;  white-space:nowrap; vertical-align:middle; cursor:pointer;
color:#fff; background-color: #aaa; border:1px solid #aaa; border-radius: 2px;}

a.Lbtn:hover{
	border:1px solid #00bb83;
	color: #c00032;
}
a.Lbtn2:hover {
	background-color: #fff !important;
	border:1px solid #00bb83 !important;
	color: #00a574!important;
}
.pointBtn button {
	color:#00a574!important;
	background-color: #fff !important;
	border:1px solid #00bb83 !important;
}
.pointBtn button:hover {
	background-color: #f02b6c !important;
	border:1px solid #f02b6c !important;
	color: #fff !important;
	-webkit-transition: all .5s; transition: all .5s;
}
.LblockSearchBtn .pointBtn button {
	line-height: 20px !important;
}

/* Block : tab
---------------------------------------------------------*/
.LblockTab {
	margin:10px 0 10px 0;
	background:url(../images/tab_bg.gif) repeat-x left bottom;
	height:27px;
}
.LblockTab li {
	float:left;
	background:url(../images/tab_l.gif) no-repeat;
	margin-left:0px;
}
.LblockTab li.Lcurrent {
	background-position:left -27px;
}
.LblockTab li span {
	display:block;
	background:url(../images/tab_r.gif) no-repeat right top;
}
.LblockTab li.Llast span {
	display:block;
	background:url(../images/tab_r2.gif) no-repeat right top;
}
.LblockTab li.Lcurrent span {
	background-position:right -27px;
}
.LblockTab li span a {
	display:block;
	color:#555;
	font-weight:bold;
	text-decoration:none;
	line-height:27px;
	padding:0px 15px 0 15px;
}
.LblockTab li.Lcurrent span a {
	font-weight:bold;
	color:#ba015d;
}
.LblockTab li span a:hover,
.LblockTab li span a:active {
	color:#ba015d;
}
.LblockTab li.Lcurrent span a:hover,
.LblockTab li.Lcurrent span a:active {
	color:#ba015d;
}
.LblockTabBox {	padding-left:10px;}


/* Block : tree
---------------------------------------------------------*/
.treeSearch {
	border: 1px solid #cdcccc;
	border-top:none;
	background-color:#fcf5fb;
}
.LblockTree, .LblockTreeRui {

	border-top: 1px solid #cdcccc;
}
.LblockTree {
	margin:10px 0 10px 0;
}
.LblockTree a {
	text-decoration:none;
}
.LblockTree a:link, .LblockTree a:visited {
	color:#646656;
}
.LblockTree p {display:inline; float:right; margin-right:10px;}

.LblockLeft span:last-child.LblockRight button {margin-right:7px;}


/* Block : comment
---------------------------------------------------------*/
.LblockComment {
	position:relative;
	line-height:24px;
	padding: 2px 20px 2px 20px;
	border-top: 1px solid #cdcccc;
	clear: both;
}

/* Block : content
---------------------------------------------------------*/
.LblockContent {
	border-top: 1px solid #cdcccc;
	padding: 10px;
}
.LblockContent ul {
	margin-bottom: 10px;
}
.LblockContent li {
	padding-left: 10px;
	margin-bottom: 5px;
	background:url(../images/content_blt.gif) no-repeat left 6px;
}

/* Block : content2
---------------------------------------------------------*/
.LblockContent2 {
	padding:10px;
}
.LblockContent2 ul {
	margin-bottom: 7px;
}
.LblockContent2 li {
	padding-left:8px;
	margin-bottom: 4px;
	background:url(../images/content2_blt.gif) no-repeat left 8px;
}


/* Block : shuttleButton
---------------------------------------------------------*/
.LblockShuttleButton p {
	margin-bottom:6px;
}
.LblockShuttleButton img {
	cursor:pointer;
}


/* Block : inform
---------------------------------------------------------*/
.LblockInform, * html #LblockInform, *:first-child+html #LblockInform {
	margin:10px 0 20px 0;
}
.LblockInform {
	padding:30px 30px 30px 140px;
	border:1px solid #ddd;
	background:url(../images/inform.gif) no-repeat 35px 30px;
}
.LblockInform div {
	padding:4px 20px;
	border-left:2px dotted #E0E0E0;
}
.LblockInform h1 {
	width:100%;
	overflow:hidden;
	font-size:1.3em;
	margin-bottom:15px;
}
.LblockInform p {
	line-height:20px;
}

/* Block : Suttle
---------------------------------------------------------*/
.shuttleBtn p {
	text-align:center;
	margin:5px 0;
}

/* etc */
.chartBox1 { border:#eee solid 1px; background-color:#f9f9f9; padding:15px 20px 20px 20px; margin-top:10px;}
.chartBox2 { border:#ddd solid 1px; background-color:#fff; padding:15px 20px 20px 20px; margin-top:10px;}
.pageInfo h2 {font-size:1.1em;color:#ba015d; padding-bottom:10px; }
.pageInfo table { border:none; border-collapse:collapse; width:100%;}
.pageInfo td { text-align:center; vertical-align:middle; padding:10px; color:#fff; font-weight:bold; font-size:1.1em; }
.pageInfo td.a { background-color:#cd6985;}
.pageInfo td.b { background-color:#cd699d;}
.pageInfo td.c { background-color:#cc70be;}
.pageInfo td.d { background-color:#c176ca;}
.pageInfo td.e { background-color:#a37dc0;}
.pageInfo td.f { background-color:#c5346e;}
.pageInfo td.g { background-color:#888;}
.pageInfo td.arrow { background:url(../images/icon_arrow.png) 55% 50% no-repeat; width:25px; padding:0px; }
.pageInfo td a { display:block;}
.pageInfo td a:link, .pageInfo td a:visited { color:#fff; background-color:transparent; text-decoration:none;}
.pageInfo td a:hover, .pageInfo td a:active, .pageInfo td.Lcurrent a { color:#c10e56; background-color:#fff; text-decoration:none}
.pageInfo td.comment { color:#555; font-size:12px; vertical-align:top; padding:10px 0 0 0; text-align:;}
.btnPagePink { background-color:#d80559; border:none; padding:3px 15px 5px 15px; color:#fff; font-weight:bold; font-size:13px; cursor:pointer; }


.treeBox {
	border-top:1px solid #cdcccc;
	border-bottom:1px solid #cdcccc;
	margin-bottom: -1px;
}


/* Block : popup search
---------------------------------------------------------*/
.LblockDetail #LblockSearch {
	position:relative;
	background-color:#f5f5f5;
	border:none;
}
.LblockDetail #LblockSearch table {
	width:100%;
	border-collapse:collapse;
	border-top: 1px solid #eaeaea;
	border-bottom: solid 1px #eaeaea;
	border-left: none;
	border-right: none;
}
.LblockDetail #LblockSearch * {
	vertical-align:middle;
}
.LblockDetail #LblockSearch form {
	padding:0;
	vertical-align:middle;
}
.LblockDetail #LblockSearch table {
	width:100%
}
.LblockDetail #LblockSearch table th {
	border: 0;
	vertical-align: middle;
	text-align:right;
	white-space:nowrap;
	color:#111;
	font-weight:normal;
	background-color:#f5f5f5;
}
.LblockDetail #LblockSearch table th label {
	border: 0;
	vertical-align: middle;
	padding: 0 5px 0 25px;
}
.LblockDetail #LblockSearch table th:FIRST-CHILD label {
	padding: 0 5px 0 10px;
}
.LblockDetail #LblockSearch table td {
	vertical-align:middle;
	padding:2px;
	color: #444;
	background-color:#f5f5f5;
	border:0;
}
.LblockDetail #LblockSearch table tr:first-child th, .LblockDetail #LblockSearch table tr:first-child td { padding-top: 5px;}
.LblockDetail #LblockSearch table tr:last-child th, .LblockDetail #LblockSearch table tr:last-child td { padding-bottom: 5px;}

.LblockDetail #LblockSearch table td.label {
	text-align:right;
}
.LblockDetail #LblockSearch table td.input {
}
.LblockDetail #LblockSearch .LblockSearchBtn {
	/*
	position:absolute;
	right:10px;
	bottom:10px;
	*/
	position:relative;
	float:right;
	margin-left:5px;
	margin-right: 10px
}
.LblockDetail #LblockSearch .L-required:before {
	content:"*";
	color: #ef0c56;
	padding-right:2px;
}


/* Block : Error
---------------------------------------------------------*/
body.error {
	background-color: #fff;
}
.LblockError {
	position:absolute;
	width:500px;
	min-height:300px;
	top:45%;
	left:50%;
	margin:-200px 0 0 -250px;
	background:#eee url(../images/new/404-error.png) no-repeat 50% 13px;
	background-color: #eee;
	border-radius: 4px;
	text-align: center;
	background-size: 14%;
}
.LblockError div {
	position: relative;
	margin-top: 95px;
	padding: 25px;
	background-color: #f9f9f9;
	min-height:140px;
}
.LblockError div h1 {
	color:#333;
	font-size: 18px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	font-weight: normal;
	border-bottom: 1px solid #f02b6c;
}
.LblockError div h2 {
	color:#ee0f59;
	font-size: 16px;
	margin: 10px 0 10px 0;
	font-weight: normal;
}
.LblockError div p {
	color:#777;
	font-size: 13px;
	margin: 10px 0;
}
.LblockError p.btn {
	margin-top: 40px;
}
.LblockError button {
	background-color: #00bb83;
	border: none;
	border-radius: 3px;
	min-width: 100px;
	height: 26px;
	line-height: 24px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	margin:0px 1px;
	cursor: pointer;
}
.LblockError button.pink {
	background-color: #f02b6c;
}
.LblockError button:hover {
	background-color: #f02b6c;
	-webkit-transition: all .5s;
	transition: all .5s;
}


/* Block : Qucik Accodian Bar
---------------------------------------------------------*/
#cQuick_tit { margin-bottom: -16px; }
#cQuick_folded { display: none;}
#cQuick_tit a, #cQuick_folded a {
    display: block;
    position: relative;
    width: 100%;
    height: 10px;
    line-height: 10px;
    text-decoration: none;
}
#cQuick_tit a span, #cQuick_folded a span {
	display: block;
	height: 2px;
	background-color: #00bb83;
    text-align: center;
}
#cQuick_folded a span:before {
	display: block;
	content: "▼";
	color: #00bb83;
}
#cQuick_tit a {
	padding-top: 10px;
	height: 10px;
}
#cQuick_tit a span:before {
	display: block;
	margin-top: -16px;
	content: "▲";
	color: #00bb83;
}


/* ETC
---------------------------------------------------------*/
#tabView { clear: both;}
.leftEffect { border-right: 1px solid #cdcccc; box-sizing: border-box;}
.rightEffect { border-left: 1px solid #cdcccc; box-sizing: border-box;}
.LblockDivision { }
.accobtn { margin: 2px 0 -2px 10px }
.accobtn button { width: 24px !important; height: 14px !important; background:url(../images/new/acco.png) 50% 4px no-repeat !important; }
.accobtn.hide button { background-position-y: -26px !important; }

/* bottom Button Area */

.LblockRightBottom{
	padding: 5px 20px;
	float: right;
}



/* Style Customized by UX/UX Team Moon Seung hyun / 2018.05.02 ---------------------------------------------- */

/*left Menu Nav Tab*/
#menuTabView .L-nav-scroll {display:none !important;}
#menuTabView .L-navset .L-nav {display:flex}
#menuTabView .L-navset .L-nav li {flex-grow:1;width:  50%;}
#menuTabView .L-navset .L-nav li a {display:block; font-size:14px !important; }
#menuTabView .L-ul-slidemenu .L-ul-li-depth-1 .L-ul-li-div-depth-1 {
	padding-left:25px !important;

}
/* common */
select, input.Ltext, input[type=text], input[type="file"], textarea {height:26px;}
div .L-form-field {border-radius:0;}
div .L-form-field input {height:24px;}
div.L-monthbox, .L-datebox {background: #fff;}
button{ border-radius:0 !important; box-shadow:none !important;}
.L-calendar .L-calheader,
.L-calendar td.L-calcell.today,
.L-calendar td.L-calcell.selected,
.L-calendar td.L-calcell.selected a,
.L-calendar td.L-calcell.L-calcellhover,
.L-calendar td.L-calcell.L-calcellhover a {background-color:#c00032 !important;}
.L-calcontainer .L-cal-nav .L-cal-nav-btn button:hover, .L-calcontainer .L-cal-nav .L-cal-nav-btn button:active {border-color:#000 !important; color:#000 !important; background-color:#fff !important;}
.LblockPopupMain .L-monthbox a.icon,
#LblockBody .L-datebox a.icon {background: transparent url(../images/cstm/ico_calendar.gif) no-repeat 1px 5px !important;}

/* layout */
div.LblockPageHeader { left:0;}
div.leftEffect {border-right:0; padding-right:20px;}
div.rightEffect {border-left:0; padding-left:20px;}
#LblockFooter {left:0;}
.LblockBlank {margin-bottom: 5px;}
.LblockBlank:last-child {margin-bottom:0;}
.page-content {padding: 65px 20px !important;}

/* Tab */
div .L-nav-scroll {margin:10px 0;}
div .L-navset .L-nav {height:auto;}
div .L-navset .L-nav {border-top:0; padding:1px 0 0;}
div .L-navset .L-nav li {margin:0 !important; }
div .L-navset .L-nav li a {
    background-color:#f8f8f8;
    box-sizing:border-box;
    height: 41px;
    padding: 14px 20px 12px;
    line-height:1.0em;
    border: 1px solid #ddd                                                                   ;
    font-size:12px !important;
}
div .L-navset .L-nav li.L-nav-selected a {
	background-color:#fff !important;
	color:#222 !important;
    border-top: 1px solid #c00032 !important;
    border-left: 1px solid #c00032 !important;
    border-right: 1px solid #c00032 !important;
	border-bottom: 1px solid #fff !important;
}
div .L-navset .L-nav li a:hover {color:#000 !important;}
div .L-navset .L-nav li em {padding:0;}

/* Title */
div .LblockPageSubtitle h2 {
    color: #555;
    background: none;
}
div .LblockPageSubtitle h2:before {
    font-family: "fontawesome";
    content: "\f0da";
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 0;
}
div .LblockPageSubtitle {padding: 7px 0 7px 10px;border:  none; margin-top:10px; }
div .LblockPageSubtitle .L-button button {line-height:24px !important;}
div.LblockPageSubtitle .LblockRight {right:0;}

/* search */
div .LblockSearch {background-color:#f4f3f3; margin-top:1px; border: 1px solid #e0e0e0; margin-bottom: 15px;padding: 7px;}
div .LblockSearch .LblockSearchBtn button,
div .LblockSearch .LblockSearchBtn a {
	border-radius:0;border-color: #202020;background: #293846;color: #fff;
	line-height: 28px !important; background: url(../images/cstm/btn_search.gif) no-repeat;}


/* button */
div .L-button button {border-radius:0;font-weight:  normal;line-height: 24px !important;border-color: #949494; box-shadow:none !important;}


div .LblockDetail .L-button button,
div .LblockListTable .L-button button,
div .L-grid-panel .L-button button {
    background-color: #f6f6f6 !important;
    border: 1px solid #aeaeae !important;
    border-radius: 0px !important;
    color: #333!important;
    line-height: 22px !important;
}




/* LblockDetail */
div .LblockDetail {border-top:0;}
div .LblockDetail > form > table,
div .LblockDetail > table {border-top:2px solid #4d5762;}
div .LblockDetail th,
div .LblockDetail td {height:37px;padding: 5px 8px;box-sizing:  border-box;}
div .LblockDetail td #chgClosingDt {text-align:left;}
div .LblockListTable {border-top:0;}
div .LblockListTable > table,
div .LblockListTable > form > table,
div .L-grid-header {border-top:1px solid #e3e7ec !important; background-color: #f6f8fa;} /* 2022-06-16*/
div .L-grid-panel.L-panel {border-top:none;}

table tbody td {border-top: 1px solid #eeeeee;}

/* .L-grid-header-row.L-grid-header-row-first,
.L-grid-header-row.L-grid-header-row-first .L-grid-header-cell,
.L-grid-multi-header .L-grid-header-row.L-grid-header-row-first {height:26px !important} */

/* Popup Style */
.L-dialog.L-panel {border-radius:0px; border:0;}
.L-dialog.L-panel .hd {
    border-top: 2px solid #c00032;
}



/* RUI tree */
div .L-ul-treeview{border:1px solid #cccccc;border-top:2px solid #c00032;}
div .L-ul-treeview .L-ul-first{border:none;}
div .L-ul-treeview .L-ul-li-line{background:none;}
div .L-ul-treeview-node-image{width:24px;height:24px;line-height:24px;background:none;color:#767676;text-align:center;}
div .L-ul-treeview-node-image:before{display:inline-block;font-family:"FontAwesome";}
div .L-ul-treeview-node-image-open-mid:before,
div .L-ul-treeview-node-image-open-last:before{content:"\f115";}
div .L-ul-treeview-node-image-close-mid:before,
div .L-ul-treeview-node-image-close-last:before{content:"\f07b";}
div .L-ul-treeview-node-image-mid:before,
div .L-ul-treeview-node-image-last:before{content:"\f016";}
div .L-ul-treeview-node-table-cell-folder,
div .L-ul-treeview-node-table-cell-folder-no-child{display:none;}
div .L-ul .L-ul-treeview-node-label{line-height:22px;}
div .L-ul .L-ul-treeview-node-label:focus,
div .L-ul .L-ul-treeview-node-label:hover{text-decoration:none;}
div .L-ul-node {padding:0 5px;}
div .L-ul-treeview-node-content{/* padding-left:4px!important; */}
div .L-ul-treeview .L-ul-focus-node{background-color:transparent;}
div .L-ul-treeview .L-ul-focus-node a{font-weight:600;color:#36b3af !important;}
div .L-ul-treeview .L-ul-focus-node .L-ul-treeview-node-image:before{color:#36b3af;}
div .rui-treeView.util{position:relative;}
div .rui-treeView.util .list-inline{position:absolute;left:11px;top:12px;z-index:2;}
div .rui-treeView.util .L-ul-treeview{padding-top:38px;}