.L-lcl-container {
	color: white; margin-right: 10px; margin-bottom: 10px; float: right; z-index: 10000; background-color: red;
}
.L-ux-container {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; z-index: 10; background-color: rgb(255, 255, 255);
}
select {
	
}
input[type=text] {
	margin: 0px; padding: 2px;
}
input[type=password] {
	margin: 0px; padding: 2px;
}
input[type=month] {
	margin: 0px; padding: 2px;			
}
input[type=date] {
	margin: 0px; padding: 2px;
}
input[type=time] {
	margin: 0px; padding: 2px;
}
input[type=email] {
	margin: 0px; padding: 2px;
}
input[type=text] {
	border: 1px solid rgb(153, 153, 153); border-image: none;
}
input[type=password] {
	border: 1px solid rgb(153, 153, 153); border-image: none;
}
input[type=month] {
	border: 1px solid rgb(153, 153, 153); border-image: none;
}
input[type=date] {
	border: 1px solid rgb(153, 153, 153); border-image: none;
}
input[type=time] {
	border: 1px solid rgb(153, 153, 153); border-image: none;
}
input[type=email] {
	border: 1px solid rgb(153, 153, 153); border-image: none;
}
select {
	border: 1px solid rgb(153, 153, 153); border-image: none;
}
textarea {
	border: 1px solid rgb(153, 153, 153); border-image: none;
}
input[type=text].L-invalid {
	border: 1px solid rgb(221, 120, 112); border-image: none;
}
select.L-invalid {
	border: 1px solid rgb(221, 120, 112); border-image: none;
}
textarea.L-invalid {
	border: 1px solid rgb(221, 120, 112); border-image: none;
}
.L-disabled {
	cursor: default;
}
input[type=text].L-disabled {
	border: 1px solid rgb(188, 189, 192); border-image: none; color: rgb(188, 189, 192);
}
textarea.L-disabled {
	border: 1px solid rgb(188, 189, 192); border-image: none; color: rgb(188, 189, 192);
}
select.L-disabled {
	border: 1px solid rgb(188, 189, 192); border-image: none; color: rgb(188, 189, 192);
}
.L-disable-mask {
	top: 0px; width: 100%; height: 100%; position: absolute; z-index: 1; background-color: rgb(255, 255, 255);
}
.L-hidden {
	left: -10000px !important; top: -10000px !important; visibility: hidden !important; position: absolute !important;
}
.L-hide-display {
	display: none !important;
}
.L-hide-visibility {
	visibility: hidden !important;
}
.L-block-display {
	display: block !important; position: relative !important;
}
.L-elementCenter {
	margin: 0px auto; position: inherit;
}
.L-masked {
	width: 100%; height: 100%; opacity: 0.3; background-color: gray; -moz-opacity: 0.3;
}
.L-masked-panel {
	left: 0px; top: 0px; width: 100%; height: 100%; text-align: center; position: absolute; z-index: 100;
}
.L-masked-message {
	margin: 0px auto; left: 46%; top: 45%; width: 100px; height: 100px; text-align: left; display: inline; position: absolute;
}
.L-toast {
	margin: 0px; border-radius: 5px; border: 1px solid currentColor; border-image: none; top: 300px; text-align: center; position: absolute; z-index: 2; min-width: 300px; max-width: 600px; box-shadow: 5px 5px 5px #000; background-color: white;
}
.L-toast-inner {
	margin: 10px; color: rgb(0, 0, 0); white-space: pre;
}
.L-bind-disabled {
	
}
.L-button {
	display: inline-block;
}
.L-button button {
	margin: 0px; border: 1px solid rgb(153, 153, 153); border-image: none; display: block; cursor: pointer; background-color: rgb(255, 255, 255);
}
.L-button .first-child {
	display: block;
}
.L-button.L-disabled button {
	color: rgb(188, 189, 192); cursor: default;
}
.L-popup-button {
	float: left;
}
.L-popup-button-icon {
	background: url("./images/button/popup.png") no-repeat 0px 0px; border: 0px currentColor; border-image: none; top: 0px; width: 17px; height: 17px; right: 0px; float: right; cursor: pointer;
}
.L-overlay {
	position: absolute; z-index: 2;
}
* html div.L-panel-container select {
	visibility: inherit;
}
* html div.drag select {
	visibility: hidden;
}
* html body.masked select {
	visibility: hidden;
}
* html div.hide-select select {
	visibility: hidden;
}
.mask {
	left: 0px; top: 0px; display: none; position: absolute; z-index: 1; opacity: 0.5; background-color: rgb(204, 204, 204); -moz-opacity: 0.5;
}
.hide-scrollbars {
	overflow: hidden;
}
.hide-scrollbars * {
	overflow: hidden;
}
.hide-scrollbars select {
	display: none;
}
.show-scrollbars {
	overflow: auto;
}
.L-panel-container.show-scrollbars {
	overflow: visible;
}
.L-panel-container.show-scrollbars .underlay {
	overflow: auto;
}
.L-panel-container.focused {
	
}
.L-panel-container .underlay {
	left: 0px; top: 0px; right: 0px; bottom: 0px; position: absolute;
}
.L-panel-container.matte {
	padding: 3px; background-color: rgb(255, 255, 255);
}
.L-panel-container.shadow .underlay {
	left: 3px; top: 3px; right: -3px; bottom: -3px; opacity: 0.12; background-color: rgb(0, 0, 0);
}
.L-panel-container.shadow .underlay.L-force-redraw {
	padding-bottom: 1px;
}
.L-effect-fade .underlay {
	display: none;
}
.L-panel {
	border: 1px solid rgb(0, 0, 0); border-image: none; overflow: hidden; border-collapse: separate; position: relative; z-index: 1; background-color: rgb(255, 255, 255);
}
.L-panel .hd {
	border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(255, 255, 255) rgb(0, 0, 0); padding: 4px; border-image: none; color: rgb(255, 255, 255); font-weight: bold; white-space: nowrap; background-color: rgb(61, 119, 203);
}
.L-panel .bd {
	padding: 4px; overflow: hidden;
}
.L-panel .bd p {
	
}
.L-panel .container-close {
	background: url("./images/container/close12_1.gif") no-repeat; margin: 0px; padding: 0px; top: 7px; width: 12px; height: 12px; right: 7px; text-indent: -10000em; overflow: hidden; text-decoration: none; visibility: inherit; position: absolute; z-index: 6; cursor: pointer;
}
.L-panel .ft {
	padding: 4px; overflow: hidden;
}
.L-override-padding {
	padding: 0px !important;
}
.L-panel-container {
	position: absolute; z-index: 2;
}
.L-dialog {
	box-shadow: 5px 5px 5px gray;
}
.L-dialog .ft {
	text-align: right; padding-right: 5px; padding-bottom: 5px;
}
.L-dialog form {
	margin: 0px;
}
.button-group button {
	margin: 2px;
}
.L-excel-dialog {
	z-index: 10000;
}
.L-excel-dialog .bd {
	padding: 4px 10px;
}
.L-simple-dialog .bd {
	padding: 10px;
}
.L-simple-dialog .bd .L-icon {
	width: 16px; height: 16px; margin-right: 10px; float: left; background-repeat: no-repeat;
}
.L-simple-dialog .bd span.blckicon {
	background: url("./images/container/blck16_1.gif") no-repeat;
}
.L-simple-dialog .bd span.alrticon {
	background: url("./images/container/alrt16_1.gif") no-repeat;
}
.L-simple-dialog .bd span.hlpicon {
	background: url("./images/container/hlp16_1.gif") no-repeat;
}
.L-simple-dialog .bd span.infoicon {
	background: url("./images/container/info16_1.gif") no-repeat;
}
.L-simple-dialog .bd span.warnicon {
	background: url("./images/container/warn16_1.gif") no-repeat;
}
.L-simple-dialog .bd span.tipicon {
	background: url("./images/container/tip16_1.gif") no-repeat;
}
.L-simple-dialog .ft {
	text-align: right; padding-right: 5px; padding-bottom: 5px;
}
.L-simple-dialog form {
	margin: 0px;
}
.L-wait-panel .L-masked-message {
	background: url("./images/grid/waiticon.gif") no-repeat 0px 0px;
}
.L-scroller {
	overflow: hidden; position: relative; -webkit-overflow-scrolling: touch;
}
.L-scroller .L-scroll {
	overflow: hidden;
}
.L-scroller .L-scroll .L-scroll-wrapper {
	border: 0px currentColor; border-image: none; display: inline-block;
}
.L-scroller .L-scrollbar-y {
	top: 0px; width: 17px; right: 0px; position: absolute; z-index: 2; -ms-overflow-x: hidden; -ms-overflow-y: scroll; background-color: transparent;
}
.L-scroller .L-scrollbar-x {
	left: 0px; height: 17px; bottom: 0px; position: absolute; z-index: 2; -ms-overflow-x: scroll; -ms-overflow-y: hidden; background-color: transparent;
}
.L-scroller .L-scrollbar-y .L-scrollbar-y-content {
	width: 1px;
}
.L-scroller .L-scrollbar-x .L-scrollbar-x-content {
	height: 1px;
}
.L-calcontainer {
	float: left; position: relative; _overflow: hidden;
}
.L-calcontainer iframe {
	margin: 0px; padding: 0px; border: currentColor; border-image: none; left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; z-index: 0;
}
.L-calcontainer iframe.fixedsize {
	left: -1px; top: -1px;
}
.L-calcontainer.L-multi .groupcal {
	float: left; position: relative; z-index: 1;
}
.L-calcontainer .L-title {
	position: relative; z-index: 1;
}
.L-calcontainer .close-icon {
	text-indent: -10000em; overflow: hidden; position: absolute; z-index: 1;
}
.L-calendar {
	position: relative;
}
.L-calendar .L-calnavleft {
	text-indent: -10000em; overflow: hidden; position: absolute; z-index: 1;
}
.L-calendar .L-calnavyearleft {
	text-indent: -10000em; overflow: hidden; position: absolute; z-index: 1;
}
.L-calendar .L-calnavright {
	text-indent: -10000em; overflow: hidden; position: absolute; z-index: 1;
}
.L-calendar .L-calnavyearright {
	text-indent: -10000em; overflow: hidden; position: absolute; z-index: 1;
}
.L-calendar .L-calheader {
	width: 100%; text-align: center; position: relative;
}
.L-calcontainer .L-cal-nav-mask {
	margin: 0px; padding: 0px; left: 0px; top: 0px; width: 100%; height: 100%; display: none; position: absolute; z-index: 2; _height: 0; _width: 0;
}
.L-calcontainer .L-cal-nav {
	top: 0px; display: none; position: absolute; z-index: 3;
}
.L-calendar .L-calbody a:hover {
	background: inherit;
}
p#clear {
	padding-top: 10px; clear: left;
}
.L-calcontainer {
	padding: 10px; border: 1px solid rgb(128, 128, 128); border-image: none; background-color: rgb(242, 242, 242);
}
.L-calcontainer.L-multi {
	padding: 0px 5px;
}
.L-calcontainer.L-multi .groupcal {
	margin: 0px; padding: 10px 5px; border: currentColor; border-image: none; background-color: transparent;
}
.L-calcontainer .L-title {
	background: url("./images/calendar/sprite.png") repeat-x 0px 0px; margin: 0px -10px 10px; padding: 0.4em; left: 0px; top: 0px; height: auto; text-align: left; color: rgb(0, 0, 0); font-weight: bold; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.L-calcontainer.L-multi .L-title {
	margin: 0px -5px;
}
.L-calcontainer.withtitle {
	padding-top: 0px;
}
.L-calcontainer .L-calclose {
	background: url("./images/calendar/sprite.png") no-repeat 0px -300px; top: 0.4em; width: 25px; height: 15px; right: 0.4em; cursor: pointer;
}
.L-calendar {
	margin: 0px; text-align: center; border-collapse: collapse; border-spacing: 0;
}
.L-calendar .L-calhead {
	background: none; padding: 0px; border: currentColor; border-image: none; vertical-align: middle;
}
.L-calendar .L-calheader {
	background: none; padding: 0px 0px 0.6em; text-align: center; font-weight: bold;
}
.L-calendar .L-calheader img {
	border: currentColor; border-image: none;
}
.L-calendar .L-calnavyearleft {
	background: url("./images/calendar/sprite2.png") no-repeat 0px -20px; left: -10px; top: 0px; width: 25px; height: 15px; bottom: 0px; margin-left: 0.4em; cursor: pointer;
}
.L-calendar .L-calnavyearright {
	background: url("./images/calendar/sprite2.png") no-repeat 0px -70px; top: 0px; width: 25px; height: 15px; right: -10px; bottom: 0px; margin-right: 0.4em; cursor: pointer;
}
.L-calendar .L-calnavleft {
	background: url("./images/calendar/sprite.png") no-repeat 0px -450px; left: 17px; top: 0px; width: 25px; height: 15px; bottom: 0px; margin-left: 0.4em; cursor: pointer;
}
.L-calendar .L-calnavright {
	background: url("./images/calendar/sprite.png") no-repeat 0px -500px; top: 0px; width: 25px; height: 15px; right: 17px; bottom: 0px; margin-right: 0.4em; cursor: pointer;
}
.L-calendar .L-calweekdayrow {
	height: 2em;
}
.L-calendar .L-calweekdayrow th {
	padding: 0px; border: currentColor; border-image: none;
}
.L-calendar .L-calweekdaycell {
	width: 2em; text-align: center; color: rgb(0, 0, 0); font-weight: bold;
}
.L-calendar .L-calfoot {
	background-color: rgb(242, 242, 242);
}
.L-calendar .L-calrowhead {
	border: currentColor; border-image: none; color: rgb(166, 166, 166); font-style: normal; font-weight: normal;
}
.L-calendar .L-calrowfoot {
	border: currentColor; border-image: none; color: rgb(166, 166, 166); font-style: normal; font-weight: normal;
}
.L-calendar .L-calrowhead {
	padding: 0px 2px 0px 0px; text-align: right;
}
.L-calendar .L-calrowfoot {
	padding: 0px 0px 0px 2px; text-align: left;
}
.L-calendar td.L-calcell {
	background: rgb(255, 255, 255); padding: 1px; border: 1px solid rgb(204, 204, 204); border-image: none; height: 1.6em; text-align: center; line-height: 1.6em; white-space: nowrap;
}
.L-calendar td.L-calcell a {
	height: 100%; color: rgb(0, 0, 0); text-decoration: none; display: block;
}
.L-calendar td.L-calcell.today {
	background-color: rgb(0, 0, 0);
}
.L-calendar td.L-calcell.today a {
	background-color: rgb(255, 255, 255);
}
.L-calendar td.L-calcell.oom {
	color: rgb(166, 166, 166); cursor: default; background-color: rgb(204, 204, 204);
}
.L-calendar td.L-calcell.selected {
	color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);
}
.L-calendar td.L-calcell.selected a {
	color: rgb(0, 0, 0); background-color: rgb(179, 212, 255);
}
.L-calendar td.L-calcell.L-calcellhover {
	cursor: pointer; background-color: rgb(66, 111, 217);
}
.L-calendar td.L-calcell.L-calcellhover a {
	color: rgb(255, 255, 255);
}
.L-calendar td.wd0 {
	background-color: rgb(253, 224, 224);
}
.L-calendar td.wd0 a {
	color: red;
}
.L-calendar td.wd6 {
	background-color: rgb(235, 251, 255);
}
.L-calendar td.wd6 a {
	color: blue;
}
.L-calendar td.L-calcell.oob {
	color: rgb(186, 186, 186);
}
.L-calendar td.L-calcell.restricted {
	text-decoration: line-through;
}
.L-calendar td.L-calcell.highlight1 {
	background-color: rgb(204, 255, 153);
}
.L-calendar td.L-calcell.highlight2 {
	background-color: rgb(153, 204, 255);
}
.L-calendar td.L-calcell.highlight3 {
	background-color: rgb(255, 204, 204);
}
.L-calendar td.L-calcell.highlight4 {
	background-color: rgb(204, 255, 153);
}
.L-calendar a.L-calnav {
	padding: 0px 4px; border: 1px solid rgb(242, 242, 242); border-image: none; color: rgb(0, 0, 0); text-decoration: none; -ms-zoom: 1;
}
.L-calendar a.L-calnav:hover {
	background: url("./images/calendar/sprite.png") repeat-x 0px 0px; border-color: rgb(160, 160, 160); cursor: pointer;
}
.L-calcontainer .L-cal-nav-mask {
	opacity: 0.25; background-color: rgb(0, 0, 0);
}
.L-calcontainer .L-cal-nav {
	padding: 0px; border: 1px solid rgb(128, 128, 128); border-image: none; left: 50%; top: 2.5em; width: 14em; margin-left: -7em; background-color: rgb(242, 242, 242);
}
.L-calcontainer.withtitle .L-cal-nav {
	top: 6.2em;
}
.L-calcontainer.L-multi .L-cal-nav {
	width: 16em; margin-left: -8em;
}
.L-calcontainer .L-cal-nav-y {
	padding: 5px 10px; text-align: center;
}
.L-calcontainer .L-cal-nav-m {
	padding: 5px 10px; text-align: center;
}
.L-calcontainer .L-cal-nav-b {
	padding: 5px 10px; text-align: center;
}
.L-calcontainer .L-cal-nav-b {
	text-align: center;
}
.L-calcontainer .L-cal-nav-e {
	padding: 5px; text-align: center; margin-top: 5px; border-top-color: rgb(128, 128, 128); border-top-width: 1px; border-top-style: solid; display: none; background-color: rgb(237, 245, 255);
}
.L-calcontainer .L-cal-nav-mc {
	width: 50px; margin-left: 10px;
}
.L-calcontainer .L-cal-nav-y input.L-invalid {
	border: 1px solid rgb(221, 120, 112); border-image: none;
}
.L-calcontainer .L-cal-nav-yc {
	width: 44px; margin-left: 10px;
}
.L-calcontainer .L-cal-nav .L-cal-nav-btn {
	margin: 2px; cursor: pointer;
}
.L-calcontainer .L-cal-nav .L-cal-nav-btn button {
	padding: 0px 8px; border: 1px solid black; border-image: none; color: rgb(0, 0, 0); background-color: transparent;
}
.L-calcontainer .L-cal-nav .L-cal-nav-btn button:hover {
	border: 1px solid gray; border-image: none; background-color: transparent;
}
.L-form-field {
	margin: 0px; padding: 0px; border: 1px solid rgb(153, 153, 153); border-image: none; display: inline-block;
}
.L-form-field input {
	margin: 0px; padding: 2px; border: 0px currentColor; border-image: none; height: 16px; font-size: 12px;
}
.L-form-field input[type=checkbox] {
	height: inherit;
}
.L-form-field input[type=radio] {
	height: inherit;
}
.L-form-field textarea {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
.L-form-field.L-invalid {
	border: 1px solid rgb(221, 120, 112); border-image: none;
}
.L-form-field.L-disabled {
	border: 1px solid rgb(188, 189, 192); border-image: none; color: rgb(188, 189, 192);
}
.L-form-field.L-disabled input {
	color: rgb(188, 189, 192);
}
.L-form-field.L-disabled textarea {
	color: rgb(188, 189, 192);
}
.L-form-field.L-disabled .icon {
	opacity: 0.4; -moz-opacity: 0.4;
}
html.L-ua-msie7 .L-form-field input[type=text] {
	height: 14px;
}
html.L-ua-compatible .L-form-field input[type=text] {
	height: 14px;
}
div.L-textbox {
	
}
.L-textbox-list-wrapper {
	border: 1px solid rgb(217, 217, 217); border-image: none; width: 146px; height: auto; position: absolute; z-index: 12000; cursor: pointer; -ms-overflow-y: auto; max-height: 200px; background-color: rgb(255, 255, 255);
}
.list-wrapper {
	border: 1px solid rgb(217, 217, 217); border-image: none; height: 200px; position: absolute; z-index: 12000; -ms-overflow-y: scroll; max-height: 200px; background-color: rgb(255, 255, 255);
}
.L-textbox-list-wrapper .selected {
	border: 1px solid rgb(165, 203, 214) !important; border-image: none !important;
}
.L-textbox-list-wrapper .active {
	border: 1px solid rgb(165, 203, 214) !important; border-image: none !important;
}
.L-textbox-list-wrapper .active {
	border: 1px solid rgb(170, 170, 166); border-image: none;
}
.L-editor-panel div.L-textbox {
	vertical-align: top;
}
.L-editor-panel div.L-textbox input {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; height: 18px; vertical-align: top; background-color: rgb(255, 255, 255);
}
.L-placeholder {
	color: gray;
}
.L-inline-editor .L-textbox input {
	border: 0px currentColor; border-image: none;
}
div.L-numberbox {
	position: relative;
}
.L-grid-panel input {
	border-width: 0px;
}
.L-editor-panel div.L-numberbox {
	height: 17px; vertical-align: top;
}
.L-editor-panel div.L-numberbox input {
	height: 17px;
}
div.L-combo {
	position: relative;
}
.L-combo div.icon {
	background: url("./images/combo/combo_icon.png") no-repeat 50% 50%; margin: 0px; padding: 0px; top: 0px; width: 20px; height: 100%; right: 0px; position: absolute;
}
div.L-combo-list-wrapper {
	border: 1px solid rgb(217, 217, 217); border-image: none; width: 146px; height: auto; position: absolute; z-index: 12000; -ms-overflow-y: auto; background-color: rgb(255, 255, 255);
}
div.L-combo-list-wrapper-nobg {
	max-height: 200px;
}
.L-combo-list-wrapper .selected {
	border: 1px solid rgb(165, 203, 214); border-image: none;
}
.L-combo-list-wrapper .active {
	border: 1px solid rgb(165, 203, 214); border-image: none;
}
.L-combo-list-wrapper .active {
	border: 1px solid rgb(170, 170, 166); border-image: none;
}
div.L-combo-list-wrapper-up {
	top: auto; bottom: 21px;
}
div.L-list {
	cursor: pointer; min-height: 12px;
}
div.L-combo-list-wrapper-up div.L-list.active {
	background-color: rgb(223, 232, 246);
}
.L-grid-panel div.L-combo input {
	height: 21px;
}
.L-combo ul {
	margin: 0px; padding: 0px; height: 200px; list-style-type: none;
}
div.list-wrapper div.L-list {
	font: 14px/normal tahoma, arial, helvetica, sans-serif; margin: 0px; padding: 0px 0px 0px 5px; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);
}
.L-combo input.empty {
	
}
.L-grid-panel div.L-combo input {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
.L-form-field.L-checkbox-panel {
	border: 0px currentColor; border-image: none; margin-right: 11px;
}
.L-form-field.L-checkbox-group {
	border: 0px currentColor; border-image: none;
}
.L-checkbox-panel.L-invalid label {
	background: none;
}
.L-editor-panel .L-checkbox-group {
	vertical-align: top;
}
.L-editor-panel .L-checkbox-panel {
	text-align: center; vertical-align: top; float: left;
}
.L-form-field.L-radio-panel {
	border: 0px currentColor; border-image: none; margin-right: 11px;
}
.L-form-field.L-radio-group {
	border: 0px currentColor; border-image: none;
}
.L-editor-panel .L-radio-group {
	vertical-align: top;
}
.L-editor-panel .L-radio-panel {
	text-align: center; vertical-align: top; float: left;
}
.L-editor-panel .L-radio-panel label {
	margin-left: 2px;
}
.L-radio-group .L-radio-panel label {
	margin-left: 2px;
}
div.L-timebox {
	position: relative;
}
.L-timebox div.icon {
	margin: 0px; padding: 0px; top: 0px; width: 9px; height: 100%; right: 0px; position: absolute;
}
html.L-ua-msie6 .L-timebox div.icon {
	top: 1px;
}
.L-timebox div.icon .L-spin-up {
	background: url("./images/timebox/spin_up.gif") no-repeat 50% 50%; width: 9px; height: 50%;
}
.L-timebox div.icon .L-spin-down {
	background: url("./images/timebox/spin_down.gif") no-repeat 50% 50%; width: 9px; height: 50%;
}
.L-timebox div.icon .L-spin-up-click {
	background: url("./images/timebox/spin_up_click.gif") no-repeat 0px 0px;
}
.L-timebox div.icon .L-spin-down-click {
	background: url("./images/timebox/spin_down_click.gif") no-repeat 0px 0px;
}
div.L-timebox input.empty {
	color: gray;
}
.L-grid-panel div.L-timebox input {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; height: 21px;
}
.L-ua-safari.L-ua-mobile .L-timebox.L-form-field {
	border: 0px currentColor; border-image: none;
}
div.L-datebox {
	position: relative;
}
.L-datebox a.icon {
	background: url("./images/datebox/cal.png") no-repeat 50% 50%; margin: 0px; padding: 0px; top: 0px; width: 20px; height: 100%; right: 0px; position: absolute;
}
.L-datebox .L-hidden-field {
	display: none;
}
.L-cal-container {
	display: none; position: absolute; z-index: 999;
}
.L-editor-panel div.L-datebox {
	vertical-align: top;
}
.L-editor-panel div.L-datebox input {
	margin: 0px; padding: 0px; height: 18px; vertical-align: top;
}
.L-ua-safari.L-ua-mobile .L-datebox.L-form-field {
	border: 0px currentColor; border-image: none;
}
div.L-textarea {
	overflow: hidden; position: relative;
}
.L-textarea textarea {
	resize: none;
}
.L-editor-panel div.L-textarea {
	vertical-align: top;
}
.L-editor-panel div.L-textarea textarea {
	font: 12px/normal tahoma, arial, helvetica, sans-serif; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; height: 20px; vertical-align: top; font-size-adjust: none; font-stretch: normal;
}
.L-grid {
	margin: 0px; padding: 0px; height: 100%;
}
.L-grid table {
	width: 100%; table-layout: fixed;
}
.L-grid table td {
	overflow: hidden; vertical-align: middle;
}
.L-grid-resize-proxy {
	border: 0px currentColor; border-image: none; left: 0px; top: 0px; width: 1px; overflow: hidden; visibility: hidden; position: absolute; z-index: 999; cursor: col-resize; background-color: rgb(119, 119, 119);
}
.L-grid-dd-proxy {
	border: 2px solid rgb(170, 170, 170); border-image: none; left: 0px; top: 0px; visibility: hidden; position: absolute; z-index: 999; cursor: move;
}
.L-grid-dd-proxy div {
	width: 100%; height: 100%; opacity: 0; background-color: rgb(204, 204, 204);
}
.L-grid-dd-target {
	left: 0px; top: 0px; visibility: hidden; position: absolute; z-index: 99; background-color: red;
}
.L-grid-col {
	
}
.L-grid-header {
	overflow: hidden; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.L-grid-header-table {
	table-layout: fixed !important;
}
.L-grid-row-dummy-cell {
	
}
.L-grid-header a {
	color: black; text-decoration: none;
}
.L-grid-header a:hover {
	color: black; text-decoration: none;
}
a:active {
	color: black; text-decoration: none;
}
.L-grid-header-offset {
	
}
.L-grid-header-row {
	
}
.L-grid-header-row td {
	border-width: 1px 1px 0px 0px; border-style: solid solid none none; border-color: rgb(204, 204, 204) rgb(204, 204, 204) currentColor currentColor; padding: 0px; border-image: none; text-align: center; vertical-align: middle;
}
.L-grid-row-dummy td {
	border-width: 1px 1px 0px 0px; border-style: solid solid none none; border-color: rgb(204, 204, 204) rgb(204, 204, 204) currentColor currentColor; padding: 0px; border-image: none; text-align: center; vertical-align: middle;
}
.L-grid-header-row .L-grid-header-inner {
	padding: 4px 0px; overflow: hidden; white-space: nowrap;
}
.L-grid-header-row .L-grid-header-selection {
	width: 25px;
}
.L-grid-header-row .L-grid-header-num {
	
}
.L-grid-header-row .L-grid-header-state {
	padding: 0px; width: 14px;
}
.L-grid-header-row .L-grid-cell-first {
	
}
.L-grid-header-row-first {
	
}
.L-grid-header-row-first td {
	border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
.L-grid-header-row-last {
	
}
.L-grid-header-cell {
	
}
.L-grid-header-inner {
	
}
.L-grid-header-btn {
	
}
.L-grid-header-btn .L-required::before {
	content: "*";
}
.L-grid-header-over {
	overflow: hidden;
}
.L-grid-li-first {
	display: none;
}
.L-grid-ul {
	list-style: none; margin: 0px; padding: 0px;
}
.L-grid-li-first {
	left: 0px; top: 0px; position: absolute;
}
.L-grid-column-freeze .L-grid-li-first {
	overflow: hidden; display: block;
}
.L-grid-view.L-grid-column-freeze .L-grid-header .L-grid-li-first {
	border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; z-index: 2;
}
.L-grid-li-first {
	z-index: 1; background-color: white;
}
html.L-ua-msie7 .L-grid-li-last {
	display: inline-block;
}
.L-grid-body {
	overflow: hidden;
}
.L-grid-body-empty {
	border-width: 0px 1px 1px 0px; border-style: none solid solid none; border-color: currentColor rgb(237, 237, 237) rgb(237, 237, 237) currentColor; padding: 3px 0px; border-image: none; text-align: center;
}
.L-grid-loading-panel {
	top: 0px; width: 100%; height: 100%; text-align: center; position: absolute; z-index: 100;
}
.L-grid-loading-mask {
	width: 100%; height: 100%; opacity: 0.2; background-color: gray; -moz-opacity: 0.2;
}
.L-grid-loading-message {
	background: url("./images/grid/waiticon.gif") no-repeat 0px 0px; margin: 0px auto; left: 46%; top: 45%; width: 100px; height: 100px; text-align: left; display: inline; position: absolute;
}
.L-grid-col-line .L-grid-row {
	border-top-color: rgb(204, 204, 204);
}
.L-grid-col-line .L-grid-row td.L-grid-cell {
	border-width: 0px 1px 1px 0px; border-style: none solid solid none; border-color: currentColor rgb(204, 204, 204) rgb(204, 204, 204) currentColor; padding-right: 0px;
}
.L-grid-row {
	border: 0px rgb(204, 204, 204); border-image: none; cursor: default;
}
.L-grid-row .L-grid-cell-inner {
	margin: 0px; padding: 3px 3px 3px 5px; overflow: hidden; white-space: nowrap;
}
.L-grid-row-first {
	
}
.L-grid-row-first .L-grid-cell {
	
}
.L-grid-row-last {
	
}
.L-grid-row-last .L-grid-cell {
	
}
.L-grid-row-odd {
	
}
.L-grid-row-even {
	background-color: rgb(247, 247, 247);
}
.L-grid-cell {
	border-width: 0px 1px 1px 0px; border-style: none solid solid none; border-color: currentColor currentColor rgb(204, 204, 204); padding: 0px; border-image: none;
}
.L-grid-cell.L-invalid {
	background: url("./images/grid/invalid_line.gif") repeat-x bottom !important;
}
.L-grid-cell-first {
	
}
.L-grid-cell-last {
	
}
.L-grid-cell-inner {
	
}
.L-grid-header-inner {
	white-space: nowrap;
}
.L-grid-cell-inner {
	white-space: nowrap;
}
.L-grid-row-over {
	border-color: rgb(221, 221, 221) !important; background-color: rgb(239, 239, 239) !important;
}
.L-grid-summary-col {
	border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid;
}
.L-grid-summary-label {
	text-align: right;
}
.L-grid-summary-row .L-grid-cell-inner {
	margin: 0px; padding: 3px 3px 3px 5px; overflow: hidden; white-space: nowrap;
}
.L-grid-sort-asc .L-grid-sort-icon {
	background-image: url("./images/grid/array_up.png") !important;
}
.L-grid-sort-desc .L-grid-sort-icon {
	background-image: url("./images/grid/array_down.png") !important;
}
.L-grid-sort-icon {
	width: 17px; height: 11px; margin-right: -11px; margin-left: 3px; vertical-align: middle; display: none; cursor: pointer; background-repeat: no-repeat;
}
.L-grid-cell-sortable .L-grid-sort-icon {
	display: inline-block; background-image: url("./images/grid/array_up_down.png"); background-position-x: 5px;
}
.L-grid-header-row .L-grid-cell-state .L-grid-header-inner {
	background-position: 3px; background-image: url("./images/grid/light_white_red.png"); background-repeat: no-repeat;
}
.L-grid-header-row .L-grid-cell-state .L-grid-header-inner a {
	display: none;
}
.L-grid-row .L-grid-cell-state .L-grid-cell-inner {
	padding: 3px 0px;
}
.L-grid-header-row .L-grid-state-modified .L-grid-header-inner {
	background-position: -22px;
}
.L-grid-cell-state-I {
	background-position: center; background-image: url("./images/grid/add_icon.png"); background-repeat: no-repeat; background-color: transparent;
}
.L-grid-cell-state-U {
	background-position: center; background-image: url("./images/grid/edit_icon.png"); background-repeat: no-repeat; background-color: transparent;
}
.L-grid-cell-state-D {
	background-position: center; background-image: url("./images/grid/del_icon.png"); background-repeat: no-repeat; background-color: transparent;
}
.L-grid-panel {
	height: 100%; visibility: inherit; position: relative;
}
.L-grid-panel.L-panel .hd {
	padding: 0px !important; overflow: hidden !important;
}
.L-grid-panel.L-panel .bd {
	margin: 0px; padding: 0px !important;
}
.L-grid-panel.L-panel .ft {
	padding: 0px !important; overflow: hidden !important; position: relative;
}
.L-grid-panel.L-panel .bd .L-grid {
	background-color: white;
}
.L-grid-body.L-panel-container {
	padding: 0px;
}
.L-editor-panel {
	padding: 0px !important; border: 1px solid red; border-image: none; left: 0px; top: 0px; position: absolute; z-index: 999; background-color: white;
}
.L-editor-panel.L-panel .bd {
	overflow: hidden; background-color: rgb(255, 255, 255);
}
.L-editor-panel.L-panel {
	border-width: 0px; padding: 0px !important; height: 90%; overflow: visible; border-collapse: collapse;
}
.L-editor-panel .bd {
	height: 100%; overflow: visible;
}
.L-grid-focus {
	border: 0px currentColor; border-image: none; top: -1px; width: 1px; height: 1px; line-height: 1px; font-size: 1px; position: absolute; outline-width: 0px; outline-style: none;
}
.L-grid-header .L-grid-header-table a {
	height: 16px; display: inline-block;
}
html.L-ua-msie7 .L-grid-sort-icon {
	margin-top: 2px;
}
.L-grid-row-checkBox {
	background: url("./images/grid/row-check-sprite.gif") no-repeat 2px 0px; padding: 0px; width: 100%; height: 16px; margin-right: 11px; vertical-align: middle; display: inline-block;
}
.L-grid-header-checkBox {
	background: url("./images/grid/row-check-sprite.gif") no-repeat 2px 0px; padding: 0px; width: 100%; height: 16px; margin-right: 11px; vertical-align: middle; display: inline-block;
}
.L-grid-row-checkBox-disabled {
	height: 16px;
}
.L-grid-row-checkBox.L-grid-row-checkBox-disabled {
	background: url("./images/grid/row-check-sprite.gif") no-repeat -48px 0px;
}
.L-grid-row-marked .L-grid-row-checkBox.L-grid-row-checkBox-disabled {
	background: url("./images/grid/row-check-sprite.gif") no-repeat -73px 0px;
}
.L-grid-header-checkBox {
	background-position: 7px 0px;
}
.L-grid-row-marked .L-grid-row-checkBox {
	background-position: -23px 0px;
}
.L-grid-header-checkBox-mark .L-grid-header-checkBox {
	background-position: -23px 0px;
}
.L-grid-header-checkBox-mark .L-grid-header-checkBox {
	background-position: -18px 0px;
}
.L-grid-header-checkBox .L-grid-sort-icon {
	display: none;
}
.L-grid-header-radio {
	background-image: none;
}
.L-grid-row-radio {
	background-position: 2px 2px; padding: 0px; width: 100%; height: 18px; vertical-align: middle; display: inline-block; background-image: url("./images/grid/row-check-sprite.gif"); background-repeat: no-repeat; background-color: transparent;
}
.L-grid-row-selected {
	border-color: rgb(204, 204, 204); background-image: none;
}
.L-grid-row-selected .L-grid-cell-editable {
	border-color: rgb(204, 204, 204);
}
.L-grid-body .L-grid-cell-selected {
	border: 1px solid rgb(204, 204, 204); border-image: none; background-color: rgb(218, 218, 180);
}
.L-grid-row-marked .L-grid-row-radio {
	background-position: -23px 2px;
}
.L-grid-panel.L-panel {
	overflow: visible;
}
.L-grid-panel.L-panel .bd {
	overflow: visible;
}
.L-grid-panel .L-masked-message {
	background: url("./images/grid/waiticon.gif") no-repeat 0px 0px;
}
.L-grid-panel .L-grid-button {
	border: 1px solid black; border-image: none; width: 100%; vertical-align: middle; background-color: transparent;
}
.L-grid-panel .L-grid-button:hover {
	border: 1px solid black; border-image: none; background-color: gray;
}
.L-grid-col-checkBox {
	background-position: 2px 2px; padding: 0px; width: 21px; height: 18px; vertical-align: middle; display: inline-block; background-image: url("./images/grid/row-check-sprite.gif"); background-repeat: no-repeat; background-color: transparent;
}
.L-grid-col-select-mark .L-grid-col-checkBox {
	background-position: -23px 2px;
}
.L-grid-cell {
	height: 26px;
}
td.L-grid-dummy-cell {
	height: 26px;
}
.L-grid-dummy-cell {
	width: 0px !important; padding-right: 0px !important; padding-left: 0px !important; margin-right: 0px !important; margin-left: 0px !important; border-right-color: currentColor !important; border-left-color: currentColor !important; border-right-width: 0px !important; border-left-width: 0px !important; border-right-style: none !important; border-left-style: none !important; visibility: hidden;
}
.L-grid-search-dialog {
	z-index: 3;
}
.L-popup-renderer {
	position: relative;
}
.L-popup-renderer .L-popup-button {
	width: 80%; -ms-overflow-x: hidden;
}
.L-clipboard {
	border: 2px solid rgb(0, 0, 0); border-image: none; left: 10%; top: 20%; width: 70%; text-align: center; color: rgb(0, 0, 0); position: absolute; z-index: 3; background-color: rgb(255, 255, 255);
}
.L-clipboard textarea {
	width: 99%;
}
.L-clipboard .L-buttons {
	text-align: right;
}
.L-copy .L-buttons .L-apply {
	display: none;
}
.L-clipboard-title-copy {
	display: none;
}
.L-copy .L-clipboard-title-copy {
	display: inline;
}
.L-copy .L-clipboard-title-paste {
	display: none;
}
.L-clipboard .L-clipboard-title {
	padding: 7px; text-align: left; color: rgb(0, 0, 0); font-weight: bold; background-color: rgb(255, 255, 255);
}
.L-grid-action-menu {
	left: 0px; top: 0px; position: absolute; z-index: 3;
}
.L-grid-action-menu ul {
	margin: 0px; padding: 0px; color: rgb(0, 0, 0); list-style-type: none;
}
.L-grid-action-menu .L-action-menu-item {
	padding: 0px; width: 70px; height: 40px; text-align: center; color: rgb(51, 51, 51); line-height: 20px; display: inline-block; cursor: pointer; background-color: rgb(255, 255, 255);
}
.L-fn-on-tablet-click {
	height: 30px !important; padding-top: 10px !important;
}
.L-grid-action-menu .L-action-menu-li {
	float: left;
}
.L-grid-action-menu .L-action-menu-li-hr {
	float: left;
}
.L-grid-action-menu .L-action-menu-li {
	border: 1px solid rgb(186, 186, 186); border-image: none;
}
.L-action-menu-li-hr {
	background: none; width: 10px; height: 10px;
}
div[data-menu-type=left] li.L-menu-type-right {
	display: none;
}
div[data-menu-type=right] li.L-menu-type-left {
	display: none;
}
li.L-menu-type-right {
	height: 30px; line-height: 30px;
}
.L-grid-action-menu li.L-menu-type-right .L-action-menu-item {
	height: 30px; line-height: 30px;
}
.L-grid.L-editable .L-form-field {
	border: 0px currentColor; border-image: none;
}
html.L-ua-mobile .L-grid-scroller {
	-webkit-overflow-scrolling: touch;
}
.L-tablet-mode-false {
	display: none;
}
.L-scroller .L-scrollbar-y-btn-prev {
	top: 0px; width: 17px; height: 17px; right: 0px; position: absolute; z-index: 3; opacity: 0.01; background-color: transparent;
}
.L-scroller .L-scrollbar-y-btn-next {
	width: 17px; height: 17px; right: 0px; bottom: 0px; position: absolute; z-index: 3; opacity: 0.01; background-color: transparent;
}
.L-scroller .L-scrollbar-x-btn-prev {
	left: 0px; width: 17px; height: 17px; bottom: 0px; position: absolute; z-index: 3; opacity: 0.01; background-color: transparent;
}
.L-scroller .L-scrollbar-x-btn-next {
	width: 17px; height: 17px; right: 0px; bottom: 0px; position: absolute; z-index: 3; opacity: 0.01; background-color: transparent;
}
.L-ul body {
	line-height: 1;
}
.L-ul li {
	list-style: none;
}
.L-ul article {
	display: block;
}
.L-ul aside {
	display: block;
}
.L-ul dialog {
	display: block;
}
.L-ul figure {
	display: block;
}
.L-ul footer {
	display: block;
}
.L-ul header {
	display: block;
}
.L-ul hgroup {
	display: block;
}
.L-ul nav {
	display: block;
}
.L-ul section {
	display: block;
}
.L-ul blockquote {
	quotes: none;
}
.L-ul q {
	quotes: none;
}
.L-ul blockquote::before {
	content: none;
}
.L-ul blockquote::after {
	content: none;
}
.L-ul q::before {
	content: none;
}
.L-ul q::after {
	content: none;
}
.L-ul a {
	background: none; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: normal; vertical-align: baseline;
}
.L-ul ins {
	color: rgb(0, 0, 0); text-decoration: none; background-color: rgb(255, 255, 153);
}
.L-ul mark {
	color: rgb(0, 0, 0); font-style: italic; font-weight: bold; background-color: rgb(255, 255, 153);
}
.L-ul del {
	text-decoration: line-through;
}
.L-ul abbr[title] {
	border-bottom-color: rgb(0, 0, 0); border-bottom-width: 1px; border-bottom-style: dotted; cursor: help;
}
.L-ul dfn[title] {
	border-bottom-color: rgb(0, 0, 0); border-bottom-width: 1px; border-bottom-style: dotted; cursor: help;
}
.L-ul table {
	border-collapse: collapse; border-spacing: 0;
}
.L-ul hr {
	border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(204, 204, 204) currentColor currentColor; margin: 1em 0px; padding: 0px; border-image: none; height: 1px; display: block;
}
.L-ul input {
	vertical-align: middle;
}
.L-ul select {
	vertical-align: middle;
}
.L-ul {
	margin: 0px; padding: 0px; overflow: auto;
}
.L-ul ul {
	margin: 0px; padding: 0px; line-height: 18px !important;
}
.L-ul li {
	margin: 0px; padding: 0px; line-height: 18px !important;
}
.L-ul ul {
	margin-left: 17px;
}
.L-ul-first {
	margin-left: 0px !important;
}
.L-ul-node {
	padding: 0px;
}
.L-ul-hidden-node {
	display: none;
}
.L-ul .L-ul-li-depth-0 {
	outline: 0px;
}
