.top {
    height: rem(50);
    display: flex;
    justify-content: space-between;
    .page-title {
        display: flex;
        height: 100%;
        padding: 0 rem(15);
        align-items: center;
        font-size: rem(16);
        align-self: flex-start;
        color: #333333;
        font-weight: 900;
    }
    .page-quick-nav {
        align-self: flex-end;
        display: flex;
        height: rem(30);
        li {
            color: #909090;
            padding-right: rem(16);
            position: relative;
            font-size: rem(12);
            display: flex;
            align-items: center;
            &:last-child {
                color: #bc2041;
                padding-right: 0;
            }
            &:after {
                content: "";
                position: absolute;
                top: 50%;
                left: calc(100% - #{rem(10)});
                transform: translateY(-50%);
                width: rem(6);
                height: rem(9);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url('../images/ico_breadcrumb_arrow.png');
            }
            a {
                color: #909090;
            }
        }
    }
}
.content {
    background-color: $content-bg;
    border-top: $content-border;
    padding: $content-padding;
    
    .content-box {
        padding: $content-padding;
        background-color: $content-box-bg;
        border-radius: rem(5);
        &:not(:first-child) {
            margin-top: rem(10);
        }
    }
}
.btn-group {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: rem(30);
}

.btn {
    font-size: 18px;
    height: rem(40);
    min-width: rem(120);
    border-radius: rem(3);
    border-style: solid;
    border-width: 1px;
    text-decoration: none;
    margin-left: rem(10);
    display: flex;
    align-items: center;
    justify-content: center;
    &.btn-default {
        color: #666666;
        border-color:#e0e0e0;
        background-color: transparent;
    }
    &.btn-submit {
        color: #ffffff;
        background-color: #ef5d87;
        border-color: #ef5d87;
    }
    &.btn-search {
        width: rem(200);
    }
    &.btn-profile {
        min-width: rem(60);
        padding: rem(13) rem(20);
        font-size: rem(13);
        color: #383d4f;
        background-color: #fafafa;
        border: 1px solid #e0e0e0;
        font-weight: 500;
    }
    &.donwload-btn{
        width: rem(94);
        line-height: rem(35);
        color: #383d4f;
        font-weight: 500;
        font-size: rem(13);
        background-color: #fafafa;

    }
    &:first-child {
        margin-left: 0;
    }
}
.form-control {
    width: 100%;
}
.icon {
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &.icon-doc {
        width: rem(14);
        height: rem(14);
        background-image: url('../images/icon-word.png');
    }
    &.icon-delete {
        width: rem(6);
        height: rem(6);
        background-image: url('../images/icon-delete.png');
    }
}

table {
    width: 100%;
    th {
        background-color: #f6f8fa;
        height: rem(42);
        padding: rem(14) rem(11);
        font-size: rem(13);
        font-weight: 500;
    }
    td {
        border-top: #eeeeee;
        height: rem(42);
        padding: 0 rem(11);
        font-size: rem(13);
        line-height: 1.5;
        strong {
            font-weight: 500;
        }
    }
    thead {
        th {
            border-top: 1px solid #e3e7ec;
        }
    }
    tbody {
        tr{
            &:last-child {
                td {
                    border-bottom: 1px solid #eeeeee;
                }
            }
        }
    }
    &.fixed-type{
        table-layout: fixed;
    }
}

.ellipsis{
    @include ellipsis
  }
  .scroll-table{
      overflow-x: auto;
  }
  .L-panel{
    border: 0;
    border-top: rem(1) solid #000;
  }
  .L-grid-header-row td{
    border-right: 0;
    border-left:0;
    border-color: #eeeeee;
  }
  .L-grid table td{
    height: 42px;
    font-family: 'lgsmart';
    font-size: rem(13);
    background-color: #fff;
  }
  .L-grid-col-line .L-grid-row td.L-grid-cell{
    border-right: 0;
    border-left:0;
    border-color: #eeeeee;
  }


  .L-grid-header table td{
    background-color: #f6f8fa;
  }