@mixin icon{
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

$url-images: "../images/";

.icon-far-left{
  @include icon;
  background-image: url($url-images + "ico_far_left.png");
  width: rem(12);
  height:rem(12);
}

.icon-left{
  @include icon;
  background-image: url($url-images + "ico_left.png");
  width: rem(7);
  height:rem(11);
}


.icon-far-right{
  @include icon;
  background-image: url($url-images + "ico_far_right.png");
  width: rem(12);
  height:rem(12);
}

.icon-right{
  @include icon;
  background-image: url($url-images + "ico_right.png");
  width: rem(7);
  height:rem(11);
}