input[type="text"],
select{
  appearance: none;
  border: rem(1) solid $input-border;
  width: 100%;
  height: rem(35);
  padding:0 rem(9);
}

select{
  background-image: url(../images/select-arrow.png);
  background-repeat: no-repeat;
  background-position: 94%;
  color: #888888;
  font-size: rem(14);
  line-height: rem(20);
}

input[type="checkbox"]{
  position:absolute; 
  width:1px; 
  height:1px; 
  padding:0; 
  margin:-1px;
  overflow:hidden; 
  clip:rect(0,0,0,0);
    + label{
      display: inline-block;
      &:after{
        content: '';
        display: inline-block;
        background-image: url(../images/ico_radio.png);
        width: rem(22);
        height: rem(22);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  &:checked{
    +label{
      &:after{
        background-image: url(../images/icon_radio_check.png);
      }
    }
  }
}

select::-ms-expand{
	display:none /* 화살표 없애기 for IE10, 11*/
}