.wrapper {
    display: flex;
    .side_wrap {
        padding: rem(6) rem(24) rem(30) rem(10);
        flex: 1 1 rem(253);
        max-width: rem(253);
    }
    .main_wrap {
        flex: 1 1 calc(100% - #{rem(253)});
        max-width: calc(100% - #{rem(253)});
    }
}

.L-grid-body{
    &.none-hidden{
        overflow: visible;
    }
}