.list-pick{
  @include align-prefix-suffix;
  margin-bottom: rem(8);
  .prefix{
    label{
      font-size: rem(15);
      line-height: rem(20);
      font-weight: 400;
    }
    select{
      margin-left: rem(20);
      width: rem(90);
    }
  }
  .suffix{
    margin: 0;
  }
}