@mixin align-prefix-suffix{
  display: flex;
  align-items: center;
  .prefix{
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-start;
    align-items: center;
  }
  .suffix{
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    align-items: center;
  }
}

@mixin ellipsis{
  text-align: left;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  word-break: break-word;
}