.paging{
  margin-top: rem(41);
  ul{
    display: flex;
    justify-content: center;
    li{
      padding-right: rem(15);
      &.numberring{
        ul{
          li{
            padding-right: rem(15);
            &:last-child{
              padding-right: 0;
            }
            a{
              font-size: rem(15);
              line-height: rem(22);
              color: #606060;
            }
            &.on{
              a{
                color: $primary;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }
}

.rui-custom-paging{
  display: flex;
  justify-content: center;
  margin-top: rem(41);
  table{
    width: auto;
    tr{
      td{
        width: rem(30);
        border: 0 !important;
        padding: 0;
        padding-right: 0.9375rem;
        height: auto;
        .L-pager-item {
          display: inline-block;
        }
        a{
          font-size: rem(15);
        }
      }
    }
  }
}