.LblockPageHeader {
	height:47px;
	line-height: 44px;
	width:100%;
	/*min-width: 1060px;*/
	border-bottom: 2px solid #666;
	margin-bottom:15px;
}

.LblockPageTitle {
    h1 {
        font-size: 17px;
        color:#474747;
        padding-top: 15px;
        line-height: 24px;
    }
    h3 {
        font-size: 15px;
        color: #333;
    }
}

.LblockPopupMain {
    .LblockPageHeader {
        margin-right: 0px;
    }
}
.LblockPageHeader {
    .LblockPageTitle {
        ul { width: 70%; overflow: hidden}
        li { 
            display: inline-block;
            a {
                display: inline-block;
                font-weight: bold;
                font-size: 14px; color:
                #333; padding: 0 20px 0 0px ;
                line-height: 24px;
                height: 28px;
                &:hover {
                    color: #c00032;
                    span {
                        background-color: #c00032;
                    }
                }
                span {
                    display: inline-block;
                    text-align: center;
                    border-radius: 30px;
                    width: 16px;
                    height: 16px;
                    background:#888 url(../images/new/btn_close2.png) 0px 0px no-repeat;
                    vertical-align: middle;
                }
            }
            &.selected {
                a {
                    color: #00a574 !important;
                    font-size: 17px;
                    span {
                        background-color: #c00032;
                        &:hover {
                            background-color: #f02b6c !important;
                        }
                    }
                }
            }
        }
    }
}
/* Block : pageSubtitle
---------------------------------------------------------*/
.LblockPageSubtitle {
	position:relative;
	line-height: 24px;
	min-height: 25px;
	white-space:nowrap;
	padding: 4px 20px 5px 20px;
	border-top: 1px solid #cdcccc;
	clear:both;
    .LblockPageTitle {
        padding: 0;
    }
    h1 {
        font-size: 16px;
        line-height:22px;
        color:#00a574;
        font-weight:bold;
    }
    h2 {
        color:#000;
        font-size: 14px;
        font-weight:bold;
    }
    h3 {
        color:#00a574;
        font-size: 13px;
        font-weight:bold;
    }
    p {
        display:inline-block;
        color:#333;
        img {
            margin-top:-3px;
        }
    }
    .LblockRight {
        position:absolute;
        right:20px;
        top: 3px;
    }
    .L-required {
        &:before {
            content:"*";
            color: #ef0c56;
            padding-right:2px;
        }
    }
}
.LblockPageHeader + .LblockPageSubtitle {
	padding-top: 5px;
}
.LblockPageSubtitle + .LblockPageSubtitle {
	margin-bottom: -1px;
}

/* Block : pageLocation
---------------------------------------------------------*/
.LblockPageLocation {
	text-align:right;
    li {
        display:inline;
        font-size: 11px;
        margin-right:7px;
        color: #777;
        span {
            color:#6b7685;
            padding-left:12px;
            a {
                color:#777;
                text-decoration:none;
                &:hover {
                    color:#d43368;
                }
                &:last-child {
                    color:#d43368;
                }
            }
            &:last-child {
                color:#d43368;
            }
        }
    }
}

/* Block : search
---------------------------------------------------------*/
.LblockSearch {
	position:relative;
	background-color:#fff;
	padding:12px 18px 12px 15px;
	min-height:31px;
	border-top: 1px solid #cdcccc;
    * {
        vertical-align:middle;
    }
    & > div {
        position:relative;
        display:inline-block;
        width: 100%;
    }
    div {
        div {
            form {
                padding:0;
	            vertical-align:middle;
            }
        }
    }
    table {
        width:100%;
        th {
            border: 0;
            vertical-align: middle;
            text-align:right;
            white-space:nowrap;
            font-weight:normal;
            padding-right:5px;
            label {
                border: 0;
                vertical-align: middle;
                padding: 0 5px 0 20px;
                display: inline-block;
                height: 26px;
                line-height: 24px;
            }
            &:first-child label {
                padding-left: 14px;
            }
        }
        td {
            vertical-align:middle;
            padding:2px 0;
            &.label {
                text-align:right;
            }
        }
    }
    .LblockSearchBtn {
        /*
        position:absolute;
        right:10px;
        bottom:10px;
        */
        position:relative;
        float:right;
        min-width: 80px;
        height: 26px;
        padding-top: 2px;
        text-align:right;
        button, a {
            background-color:#00bb83;
            border: none;
            padding:0px 17px 3px 33px;
            line-height: 22px;
            font-size: 12px;
            font-weight: bold;
            border-radius: 24px;
            color: #fff;
            text-transform: uppercase;
            box-shadow: 0px 2px 3px #ddd;
        }
    }
}
a {
    &.Lsearch {
        position:relative;
        float:right;
        margin-left:10px;
        background-color:#00bb83;
        border: none;
        padding: 0px 12px 2px;
        line-height: 22px;
        font-size: 12px;
        font-weight: bold;
        border-radius: 24px;
        color: #fff;
        text-transform: uppercase;
        box-shadow: 0px 2px 3px #ccc;
    }
    &.Lbtn3 {
        position:relative;
        display:inline-block;
        margin:0 1px;
        padding:0 8px;
        height:26px;
        line-height:24px;
        text-decoration:none !important;
        white-space:nowrap;
        vertical-align:middle;
        cursor:pointer;
        color:#fff;
        background-color: #ccc;
        border:0px solid #ccc;
        border-radius: 3px;
    }
    &.Lbtn {
        position:relative;
        display:inline-block;
        margin-left: 2px;
        padding:0 8px 3px;
        line-height:22px;
        text-decoration:none !important;
        white-space:nowrap;
        vertical-align:middle;
        cursor:pointer;
        color:#333;
        background-color: #fff;
        border:1px solid #d7d7d7;
        border-radius: 26px;
        &:hover{
            border:1px solid #00bb83;
            color: #c00032;
        }
    }
    &.Lbtn2 {
        position:relative;
        display:inline-block;
        margin-left: 2px;
        padding:0 8px 3px;
        line-height:22px;
        text-decoration:none !important;
        white-space:nowrap;
        vertical-align:middle;
        cursor:pointer;
        color:#fff;
        background-color: #aaa;
        border:1px solid #aaa;
        border-radius: 2px;
        &:hover {
            background-color: #fff !important;
            border:1px solid #00bb83 !important;
            color: #00a574!important;
        }
    }
}

/* Block : listTable
---------------------------------------------------------*/
.LblockListTable  {
	position:relative;
	border-top: 1px solid #cdcccc;
	width:100%;
	margin-bottom: -1px;
    table {
        border-collapse:collapse;
        width:100%;
        th, td {
            height:28px;
            padding:0px 6px;
            border-bottom: 1px solid #cdcccc;
            text-align:center;
            background-color: #fff;
        }
        th {
            white-space:nowrap;
            background-color:#f7f7f7;
        }
        tbody {
            border-top: #cdcccc solid 0px;
            th {
                background-color:#f7f7f7;
            }
            tr {
                &.Lhover {
                    background: #efefef;
                }
            }
        }
        textarea {
            margin: 2px 0;
        }
    }
    ul {
        text-align:center;
        font-size:0.9em;
        margin-top:10px;
    }
    li {
        display:inline;
        margin-left:5px;
        span {
            font-weight:bold;
            color:#5EA5D5;
        }
        a {
            font-weight:normal;
            color:#666;
            &:hover, &:active {
                color:#5EA5D5;
            }
        }
        .Lbegin, .Lend {
            a {
                font-weight:bold;
            }
        }
    }
}
/* Block : detail
---------------------------------------------------------*/
.LblockDetail {
	border-top: 1px solid #cdcccc;
	border-bottom: 1px solid #cdcccc;
	margin-bottom: -1px;
    table {
        width:100%;
        border-collapse:collapse;
        margin-bottom: -1px;
        textarea {
            margin:2px 0;
        }
    }
    tr {
        &:last-child {
            th, td {
                border-bottom: 1px solid #cdcccc;
            }
        }
    }
    th, td {
        border-bottom: 1px solid #eee;
        background-color: #fff;
        height:28px;
        padding:0 3px;
        color: #444;
        font-size: 13px;
    }
    th {
        background-color: #f7f7f7;
        border-bottom: 1px solid #e7e7e7;
        text-align:right;
        padding:0 8px;
        .L-required:before {
            content:"*";
            color: #ff0066;
            padding-right:2px;
        }
    }
    td {
        img {
            width:80%;
            padding:5px;
        }
        .Certificate {
            dl {
                float:left;
                width: 100%;
            }
            dt {
                float:left;
                width:30%;
            }
            dd {
                float:left;
                width:70%;
            }
        }
    }
    .cnt {
        text-align:center !important;
    }
}

/* Block : detail Inner Table */
.LblockDetailInner {
	padding:0 !important;
    .inTable {
        width:100%;
        border-collapse:collapse;
        border-top:none;
        margin-top:-1px;
        margin-bottom:-1px;
        th, td {
            &.Lfirst {
                border-left:none;
            }
        }
        th, td {
            &.Llast {
                border-right:none;
            }
        }
    }
}
/* Block : button
---------------------------------------------------------*/
.LblockButton {
	position:relative;
	padding:5px 20px;
	text-align:right;
	clear: both;
	border-top: 1px solid #cdcccc;
	border-bottom: 1px solid #cdcccc;
	background-color: ;
	margin: -1px 0;
    span {
        &.Lleft {
            position:absolute;
            left:0;
        }
    }
}
* html #LblockButton {
	height:1px;
}

/* subbutton */
.LblockSubbutton {
	margin:5px 0 10px 0;
	text-align:right;
}

.pointBtn {
    button {
        color:#00a574!important;
        background-color: #fff !important;
        border:1px solid #00bb83 !important;
        &:hover {
            background-color: #f02b6c !important;
            border:1px solid #f02b6c !important;
            color: #fff !important;
            -webkit-transition: all .5s; transition: all .5s;
        }
    }
}
.LblockSearchBtn {
    .pointBtn {
        button {
            line-height: 20px !important;
        }
    }
}

/* Block : tab
---------------------------------------------------------*/
.LblockTab {
	margin:10px 0 10px 0;
	background:url(../images/tab_bg.gif) repeat-x left bottom;
	height:27px;
    li {
        float:left;
        background:url(../images/tab_l.gif) no-repeat;
        margin-left:0px;
        &.Lcurrent {
            background-position:left -27px;
        }
        span {
            display:block;
            background:url(../images/tab_r.gif) no-repeat right top;
            a {
                display:block;
                color:#555;
                font-weight:bold;
                text-decoration:none;
                line-height:27px;
                padding:0px 15px 0 15px;
                &:hover, &:active {
                    color:#ba015d;
                }
            }
        }
        &.Llast {
            span {
                display:block;
                background:url(../images/tab_r2.gif) no-repeat right top;
            }
        }
        &.Lcurrent {
            span {
                background-position:right -27px;
                a {
                    font-weight:bold;
                    color:#ba015d;
                    &:hover, &:active {
                        color:#ba015d;
                    }
                }
            }
        }
    }
}
.LblockTabBox {	padding-left:10px;}
/* Block : tree
---------------------------------------------------------*/
.treeSearch {
	border: 1px solid #cdcccc;
	border-top:none;
	background-color:#fcf5fb;
}
.LblockTree, .LblockTreeRui {
	border-top: 1px solid #cdcccc;
}
.LblockTree {
	margin:10px 0 10px 0;
    a {
        text-decoration:none;
        &:link, &:visited  {
            color:#646656;
        }
    }
    p {
        display:inline;
        float:right;
        margin-right:10px;
    }
}
.LblockLeft span:last-child.LblockRight button {margin-right:7px;}


/* Block : comment
---------------------------------------------------------*/
.LblockComment {
	position:relative;
	line-height:24px;
	padding: 2px 20px 2px 20px;
	border-top: 1px solid #cdcccc;
	clear: both;
}

/* Block : content
---------------------------------------------------------*/
.LblockContent {
	border-top: 1px solid #cdcccc;
	padding: 10px;
    ul {
        margin-bottom: 10px;
    }
    li {
        padding-left: 10px;
        margin-bottom: 5px;
        background:url(../images/content_blt.gif) no-repeat left 6px;
    }
}
/* Block : content2
---------------------------------------------------------*/
.LblockContent2 {
	padding:10px;
    ul {
        margin-bottom: 7px;
    }
    li {
        padding-left:8px;
        margin-bottom: 4px;
        background:url(../images/content2_blt.gif) no-repeat left 8px;
    }
}
/* Block : shuttleButton
---------------------------------------------------------*/
.LblockShuttleButton {
    p {
        margin-bottom:6px;
    }
    img {
        cursor:pointer;
    }
}
/* Block : inform
---------------------------------------------------------*/
.LblockInform, * html #LblockInform, *:first-child+html #LblockInform {
	margin:10px 0 20px 0;
}
.LblockInform {
	padding:30px 30px 30px 140px;
	border:1px solid #ddd;
	background:url(../images/inform.gif) no-repeat 35px 30px;
    div {
        padding:4px 20px;
        border-left:2px dotted #E0E0E0;
    }
    h1 {
        width:100%;
        overflow:hidden;
        font-size:1.3em;
        margin-bottom:15px;
    }
    p {
        line-height:20px;
    }
}
/* Block : Suttle
---------------------------------------------------------*/
.shuttleBtn {
    p {
        text-align:center;
        margin:5px 0;
    }
}
/* etc */
.chartBox1 { border:#eee solid 1px; background-color:#f9f9f9; padding:15px 20px 20px 20px; margin-top:10px;}
.chartBox2 { border:#ddd solid 1px; background-color:#fff; padding:15px 20px 20px 20px; margin-top:10px;}
.pageInfo {
    h2 {font-size:1.1em;color:#ba015d; padding-bottom:10px; }
    table { border:none; border-collapse:collapse; width:100%;}
    td {
        text-align:center;
        vertical-align:middle;
        padding:10px;
        color:#fff;
        font-weight:bold;
        font-size:1.1em;
        &.a { background-color:#cd6985;}
        &.b { background-color:#cd699d;}
        &.c { background-color:#cc70be;}
        &.d { background-color:#c176ca;}
        &.e { background-color:#a37dc0;}
        &.f { background-color:#c5346e;}
        &.g { background-color:#888;}
        &.arrow { background:url(../images/icon_arrow.png) 55% 50% no-repeat; width:25px; padding:0px; }
        a {
            display:block;
            &:link, &:visited {
                color:#fff; background-color:transparent; text-decoration:none;
            }
            &:hover, &:active {
                color:#c10e56;
                background-color:#fff;
                text-decoration:none;
            }
        }
        &.Lcurrent {
            a {
                color:#c10e56; background-color:#fff; text-decoration:none;
            }
        }
        &.comment { color:#555; font-size:12px; vertical-align:top; padding:10px 0 0 0; text-align:;}
    }
}
.btnPagePink { background-color:#d80559; border:none; padding:3px 15px 5px 15px; color:#fff; font-weight:bold; font-size:13px; cursor:pointer; }
.treeBox {
	border-top:1px solid #cdcccc;
	border-bottom:1px solid #cdcccc;
	margin-bottom: -1px;
}
/* Block : popup search
---------------------------------------------------------*/
.LblockDetail {
    #LblockSearch {
        position:relative;
        background-color:#f5f5f5;
        border:none;
        table {
            width:100%;
            border-collapse:collapse;
            border-top: 1px solid #eaeaea;
            border-bottom: solid 1px #eaeaea;
            border-left: none;
            border-right: none;
            th {
                border: 0;
                vertical-align: middle;
                text-align:right;
                white-space:nowrap;
                color:#111;
                font-weight:normal;
                background-color:#f5f5f5;
                label {
                    border: 0;
                    vertical-align: middle;
                    padding: 0 5px 0 25px;
                }
                &:first-child label {
                    padding: 0 5px 0 10px;
                }
            }
            td {
                vertical-align:middle;
                padding:2px;
                color: #444;
                background-color:#f5f5f5;
                border:0;
                &.label {
                    text-align:right;
                }
            }
            tr {
                &:first-child {
                    th, td {
                        padding-top: 5px;
                    }
                }
                &:last-child {
                    th, td {
                        padding-bottom: 5px;
                    }
                }
            }
        }
        * {
            vertical-align:middle;
        }
        form {
            padding:0;
            vertical-align:middle;
        }
        .LblockSearchBtn {
            /*
            position:absolute;
            right:10px;
            bottom:10px;
            */
            position:relative;
            float:right;
            margin-left:5px;
            margin-right: 10px
        }
        .L-required:before {
            content:"*";
            color: #ef0c56;
            padding-right:2px;
        }
    }
}
/* Block : Error
---------------------------------------------------------*/
body {
    &.error {
        background-color: #fff;
    }
}
.LblockError {
	position:absolute;
	width:500px;
	min-height:300px;
	top:45%;
	left:50%;
	margin:-200px 0 0 -250px;
	background:#eee url(../images/new/404-error.png) no-repeat 50% 13px;
	background-color: #eee;
	border-radius: 4px;
	text-align: center;
	background-size: 14%;
    div {
        position: relative;
        margin-top: 95px;
        padding: 25px;
        background-color: #f9f9f9;
        min-height:140px;
        h1 {
            color:#333;
            font-size: 18px;
            margin-bottom: 20px;
            padding-bottom: 20px;
            font-weight: normal;
            border-bottom: 1px solid #f02b6c;
        }
        h2 {
            color:#ee0f59;
            font-size: 16px;
            margin: 10px 0 10px 0;
            font-weight: normal;
        }
        p {
            color:#777;
            font-size: 13px;
            margin: 10px 0;
            &.btn {
                margin-top: 40px;
            }
        }
    }
    button {
        background-color: #00bb83;
        border: none;
        border-radius: 3px;
        min-width: 100px;
        height: 26px;
        line-height: 24px;
        text-align: center;
        color: #fff;
        font-weight: bold;
        font-size: 14px;
        margin:0px 1px;
        cursor: pointer;
        &.pink {
            background-color: #f02b6c;
        }
        &:hover {
            background-color: #f02b6c;
            -webkit-transition: all .5s;
            transition: all .5s;
        }
    }
}
/* Block : Qucik Accodian Bar
---------------------------------------------------------*/
#cQuick_tit { margin-bottom: -16px; }
#cQuick_folded { display: none;}
#cQuick_tit, #cQuick_folded {
    a {
        display: block;
        position: relative;
        width: 100%;
        height: 10px;
        line-height: 10px;
        text-decoration: none;
        span {
            display: block;
            height: 2px;
            background-color: #00bb83;
            text-align: center;
        }
    }
}
#cQuick_folded {
    a {
        span {
            &:before {
                display: block;
                content: "▼";
                color: #00bb83;
            }
        }
    }
}
#cQuick_tit {
    a {
        padding-top: 10px;
        height: 10px;
        span {
            &:before {
                display: block;
                margin-top: -16px;
                content: "▲";
                color: #00bb83;
            }
        }
    }
}
/* ETC
---------------------------------------------------------*/
#tabView { clear: both;}
.leftEffect { border-right: 1px solid #cdcccc; box-sizing: border-box;}
.rightEffect { border-left: 1px solid #cdcccc; box-sizing: border-box;}
.accobtn {
    margin: 2px 0 -2px 10px;
    button { width: 24px !important; height: 14px !important; background:url(../images/new/acco.png) 50% 4px no-repeat !important; }
    &.hide {
        button { background-position-y: -26px !important; }
    }
}
.LblockRightBottom{
	padding: 5px 20px;
	float: right;
}
/* Style Customized by UX/UX Team Moon Seung hyun / 2018.05.02 ---------------------------------------------- */
/*left Menu Nav Tab*/
#menuTabView {
    .L-nav-scroll {display:none !important;}
    .L-navset {
        .L-nav {
            display:flex;
            li {
                flex-grow:1;width:  50%;
                a {
                    display:block;
                    font-size:14px !important;
                }
            }
        }
    }
    .L-ul-slidemenu {
        .L-ul-li-depth-1 {
            .L-ul-li-div-depth-1 {
                padding-left:25px !important;
            }
        }
    }
}
/* common */
select, textarea {height:26px;}
input {
    &.Ltext, &[type=text], &[type="file"] {
        height:26px;
    }
}

button{
    border-radius:0 !important;
    box-shadow:none !important;
}
.L-calendar {
    .L-calheader {
        background-color:#c00032 !important;
    }
    td {
        &.L-calcell {
            .today ,.selected, .L-calcellhover {
                background-color:#c00032 !important;
                a {
                    background-color:#c00032 !important;
                }
            }
        }
    }
}
.L-calcontainer {
    .L-cal-nav {
        .L-cal-nav-btn {
            button {
                &:hover, &:active {border-color:#000 !important; color:#000 !important; background-color:#fff !important;}
            }
        }
    }
}
.LblockPopupMain {
    .L-monthbox {
        a {
            &.icon {background: transparent url(../images/cstm/ico_calendar.gif) no-repeat 1px 5px !important;}
        }
    }
}
#LblockBody {
    .L-datebox {
        a {
            &.icon {background: transparent url(../images/cstm/ico_calendar.gif) no-repeat 1px 5px !important;}
        }
    }
}
#LblockFooter {left:0;}
.LblockBlank {margin-bottom: 5px;}
.LblockBlank {
    &:last-child {margin-bottom:0;}
}
.page-content {padding: 65px 20px !important;}
.L-datebox {background: #fff;}
div {
    .L-form-field {
        border-radius:0;
        input {
            height:24px;
        }
    }
    &.L-monthbox {background: #fff;}
    &.LblockPageHeader { left:0;}
    &.leftEffect {border-right:0; padding-right:20px;}
    &.rightEffect {border-left:0; padding-left:20px;}
    // Tab
    .L-nav-scroll {margin:10px 0;}
    .L-navset {
        .L-nav {
            height:auto;
            border-top:0;
            padding:1px 0 0;
            li {
                margin:0 !important;
                a {
                    background-color:#f8f8f8;
                    box-sizing:border-box;
                    height: 41px;
                    padding: 14px 20px 12px;
                    line-height:1.0em;
                    border: 1px solid #ddd                                                                   ;
                    font-size:12px !important;
                    &:hover {color:#000 !important;}
                }
                em {padding:0;}
                &.L-nav-selected {
                        a {
                        background-color:#fff !important;
                        color:#222 !important;
                        border-top: 1px solid #c00032 !important;
                        border-left: 1px solid #c00032 !important;
                        border-right: 1px solid #c00032 !important;
                        border-bottom: 1px solid #fff !important;
                    }
                }
            }
        }
    }
    // Title
    .LblockPageSubtitle {
        padding: 7px 0 7px 10px;
        border: none;
        margin-top:10px;
        h2 {
            color: #555;
            background: none;
            &:before {
                font-family: "fontawesome";
                content: "\f0da";
                display: inline-block;
                position: absolute;
                top: 8px;
                left: 0;
            }
        }
        .L-button {
            button {line-height:24px !important;}
        }
        .LblockRight {right:0;}
    }
    // search
    .LblockSearch {
        background-color:#f4f3f3;
        margin-top:1px;
        border: 1px solid #e0e0e0;
        margin-bottom: 15px;
        padding: 7px;
        .LblockSearchBtn {
            button, a {
                border-radius:0;
                border-color: #202020;
                background: #293846;
                color: #fff;
                line-height: 28px !important;
                background: url(../images/cstm/btn_search.gif) no-repeat;
            }
        }
    }
    .L-button {
        button {
            border-radius:0;
            font-weight:  normal;
            line-height: 24px !important;
            border-color: #949494;
            box-shadow:none !important;
        }
    }
    .LblockDetail, .LblockListTable, .L-grid-panel {
        .L-button {
            button {
                background-color: #f6f6f6 !important;
                border: 1px solid #aeaeae !important;
                border-radius: 0px !important;
                color: #333!important;
                line-height: 22px !important;
            }
        }
    }
    // LblockDetail
    .LblockDetail {
        border-top:0;
        & > form {
            & > table {border-top:2px solid #4d5762;}
        }
        & > table {
            border-top:2px solid #4d5762;
        }
    }
    th,td {height:37px;padding: 5px 8px;box-sizing:  border-box;}
    td {
        #chgClosingDt {text-align:left;}
    }
    .LblockListTable {
        border-top:0;
        & > table {border-top:1px solid #c00032 !important}
        & > form {
            & > table {border-top:1px solid #c00032 !important}
        }
    }
    .L-grid-header {border-top:1px solid #c00032 !important}
    .L-grid-panel {
        .L-panel {border-top:none;}
    }
    // RUI tree
    .L-ul-treeview {
        border:1px solid #cccccc;
        border-top:2px solid #c00032;
        .L-ul-first{
            border:none;
        }
        .L-ul-li-line{
            background:none;
        }
        &-node-image{
            width:24px;
            height:24px;
            line-height:24px;
            background:none;
            color:#767676;
            text-align:center;
            &:before{
                display:inline-block;
                font-family:"FontAwesome";
            }
            &-open {
                &-mid, &-last {
                    &:before{content:"\f115";}
                }
            }
            &-close {
                &-mid, &-last {
                    &:before{content:"\f07b";}
                }
            }
            &-mid, &-last {
                &:before{content:"\f016";}
            }
        }
        &-node-table-cell-folder, &-node-table-cell-folder-no-child{
            display:none;
        }
        &-node-label{
            line-height:22px;
            &:focus,
            &:hover{text-decoration:none;}
        }
        &.util {
            position:relative;
            .list-inline{position:absolute;left:11px;top:12px;z-index:2;}
            .L-ul-treeview{padding-top:38px;}
        }
        .L-ul-focus-node{
            background-color:transparent;
            a{font-weight:600;color:#36b3af !important;}
            .L-ul-treeview-node-image:before{color:#36b3af;}
        }
    }
    .L-ul-node {padding:0 5px;}
}

/* Popup Style */
.L-dialog {
    .L-panel {
        border-radius:0px; border:0;
        .hd {
            border-top: 2px solid #c00032;
        }
    }
}
