.title {
    font-size: rem(18);
    color: #666666;
    height: rem(33);
    padding-bottom: rem(8);
    display: flex;
    align-self: flex-start;
    font-weight: 700;
}
.info-talbe-wrap {
    padding: rem(30);
    table {
        tr {
            th {
                background-color: #f6f8fa;
                width: rem(180);
                border-top: 1px solid #eeeeee;
                border-left: 1px solid #eeeeee;
                padding: rem(14);
            }
            td {
                border-top: 1px solid #eeeeee;
                border-left: 1px solid #eeeeee;
                padding: rem(14);
                &:last-child {
                    border-right: 1px solid #eeeeee;
                }
            }
            &:last-child {
                th {
                    border-bottom: 1px solid #eeeeee;
                }
            }
        }
    }
}
.info-table {
    tr {
        th {
            border-top: 1px solid #eeeeee;
        }
        td {
            border-top: 1px solid #eeeeee;
        }
        &:last-child {
            th {
                border-bottom: 1px solid #eeeeee;
            }
        }
    }
}
.contact-table {
    tbody {
        td {
            text-align: center;
            border-top: 1px solid #eeeeee;
        }
    }
}
.write-title {
    display: flex;
    justify-content: space-between;
}
.write-table {
    & > tbody {
        & > tr {
            & > th {
                width: rem(180);
            }
        }
    }
    tr {
        th,
        td {
            border-bottom: 1px solid #eaeaea;
            padding: rem(8) rem(20);
        }
        &:first-child {
            th,
            td {
                border-top: 1px solid #464950;
            }
        }
    }
    .file-list-table {
        margin-top: rem(10);
        border-left: 1px solid #eeeeee;
        border-right: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
        thead {
            th {
                height: rem(30);
            }
        }
        tbody {
            td {
                height: rem(35);
                border: 0;
            }
        }
    }
}
.file-button-group {
    .file-upload {
        
        input {
            &[type="file"] {
                display: none;
            }
        }
        span {
            display: inline-flex;
            border: 1px solid #cccccc;
            color: #666666;
            border-radius: rem(2);
            padding: rem(7) rem(12);
            font-weight: 500;
            line-height: 1;
        }
    }
    .file-delete {
        border: 1px solid #cccccc;
        color: #666666;
        border-radius: rem(2);
        padding: rem(7) rem(12);
        background-color: transparent;
        span {
            font-weight: 500;
            padding-left: rem(8);
        }
    }
}
