.search-form{
  ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    li{
      flex: 1 1 25%;
      max-width: 25%;
      display: flex;
      align-items: center;

      //margin-right: rem(60);
      label{
        display: inline-block;
        min-width: rem(100);
        font-size: rem(15);
        line-height: rem(20);
      }
      input,select{
        width:rem(250);
      }
      .date-picker{
        input[type="text"]{
          width: rem(130);
        }
      }
      &:nth-child(n+5){
        margin-top: rem(20);
      }
      &:last-child{
        flex: 1 1 75%;
        max-width: 75%;
        input[type="text"]{
          width: rem(584);
          //margin-left: rem(15);
        }
      }
    }
  }
}