.side_wrap {
    .side-box {
        background-color: #676767;
        padding: rem(6);
        .signin-info {
            .title {
                display: flex;
                align-items: center;
                padding: 0 rem(15);
                color: #c8294b;
                font-weight: 700;
                height: rem(40);
                background-color: #ffffff;
            }
            .name-type {
                height: rem(40);
                border-top: rem(1) solid #cccccc;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #ffffff;
                padding: 0 rem(15);
                .name {
                    font-size: rem(14);
                    font-weight: 400;
                }
                .type-button-group {
                    display: flex;
                }
            }
        }
        & > ul {
            margin-top: rem(10);
            & > li {
                border-bottom: 1px solid #b1b1b1;
                background-color: #ffffff;
                & > a {
                    display: flex;
                    padding: 0 rem(15);
                    height: rem(32);
                    color: #555555;
                    align-items: center;
                    font-weight: 700;
                }
                &.active, &:hover {
                    a {
                        color: #c8294b;
                    }
                }
                .dept1 {
                    li {
                        background-color: #d9d9d9;
                        position: relative;
                        &:before {
                            content: " - ";
                            position: absolute;
                            left: rem(15);
                            top: rem(9);
                        }
                        a {
                            display: flex;
                            height: rem(32);
                            align-items: center;
                            font-weight: 500;
                            color: #6a6a6a;
                            padding: 0 rem(15) 0 rem(30);
                        }
                        &.active, &:hover {
                            a {
                                color: #c8294b;
                            }
                        }
                        .dept2 {
                            margin-top: 0;
                            li {
                                background-color: #c6c6c6;
                                border-top: 1px dotted #b1b1b1;
                                &:first-child {
                                    border-top: 1px solid #b1b1b1;
                                }
                                &:before {
                                    content: "";
                                }
                                a {
                                    display: flex;
                                    height: rem(32);
                                    align-items: center;
                                    font-weight: 500;
                                    color: #6a6a6a;
                                    padding: 0 rem(15) 0 rem(40);
                                }
                                &.active, &:hover {
                                    a {
                                        color: #c8294b;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}