.situation-list{
  padding-bottom: rem(22);
  ul{
    display: flex;
    li{
      position: relative;
      width: rem(405);
      padding: 0 rem(30);
      &:after{
        content: '';
        background: $situation-list-bar;
        width: rem(1);
        height: rem(40);
        position: absolute;
        right: 0;
        top: rem(10);
      }
      &:last-child{
        &:after{
          display: none;
        }
      }
      .name{
       font-size: rem(16);
       font-weight: 400; 
       color: $gray;
      }
      .state{
        display: flex;
        justify-content: flex-end;
        font-size: rem(40);
        color: $primary;
        font-weight: 700;
      }
    }
  }
}